[2014-08-03 11:04] h4cc opened #1 "v0.0.1 Freezes on PHPStorm"
I tried opening this file, but PHPStorm seem to freeze:

No Error message on the console :(

[2014-08-03 19:23] #1 closed, assigned to nobody

[2014-08-04 12:45] h4cc opened #2 "Comments starting in strings when using `#{...}`"
There is a bug about highlighting comments:

[code]

The last part of the second line `#{inspect tuple} are belong to us"` will be displayed as a comment.

I dont know the name for the `#{...}` syntax in strings, but it needs to be handled.

(I know its a early version, but i would like to document my findings.)

[2014-08-09 00:04] #2 closed, assigned to nobody

[2014-08-31 10:09] h4cc opened #4 "Support for :atoms"
As a next smaller step, visual support for atoms might be cool.

I think i might not be abled to help developing, but testing for sure :)

[2014-09-14 17:09] KronicDeth opened #5 "Support for Char Tokens"
Support `?` char tokens with literal characters and escape sequences as described here https://github.com/elixir-lang/elixir/blob/4b505286ec61b32cb791b79268ae6c58340c71f0/lib/elixir/src/elixir_tokenizer.erl#L166-L221.

[2014-09-16 17:55] Hades32 opened #6 "Syntax highlighter is incomplete and needs clearer error messages"
Even a simple file like this is completely red and no sensible Syntax highlighting.
[code]
The error is something like "ElixirTokenType... or ...[..] expected, but got 'd' "

[2014-09-19 01:51] KronicDeth opened #7 "Keyword Identifiers"
[Part of the atom lexing](https://github.com/elixir-lang/elixir/blob/4b505286ec61b32cb791b79268ae6c58340c71f0/lib/elixir/src/elixir_tokenizer.erl#L275-L284) overlaps with the keyword identifier when it uses the JSON syntax. `<atom><colon>` should be parsed as `<keyword_identifier>`.

[2014-09-26 01:59] #4 closed, assigned to nobody

[2014-10-13 00:27] KronicDeth opened #9 "Blank lines parsed as bad character"
Blank lines, such between comments are erroneously marked as bad characters because only single EOL are expected to separate expressions.  Blank lines should be treated as whitespace, so they aren't consumed by the parser.
![screen shot 2014-10-12 at 7 24 04 pm](https://cloud.githubusercontent.com/assets/298259/4608049/c22de122-526f-11e4-89e7-0eae448dc518.png)

[2014-10-13 00:57] #9 closed, assigned to KronicDeth

[2014-10-13 01:05] KronicDeth opened #11 "Use pygment elixir example for Color Settings and tests"
Use the [pygment's example_elixir.ex](https://bitbucket.org/birkenfeld/pygments-main/raw/102ed2526c384403fd0e0129b3e31832a6583ea1/tests/examplefiles/example_elixir.ex) that @alco developed to ensure feature parity with pygment's highligher.

[2014-10-13 02:05] KronicDeth opened #12 "Sigil name parsing breaks on EOL"
The lexer breaks and can't match input if a EOL is encountered while parsing bad characters that don't match `{SIGIL_NAME}`.

![screen shot 2014-10-12 at 9 03 07 pm](https://cloud.githubusercontent.com/assets/298259/4608364/4981c096-527d-11e4-8b6f-2411262d077b.png)

[2014-10-14 00:44] #12 closed, assigned to nobody

[2014-10-14 01:07] KronicDeth opened #14 "Sigil terminator escapes are not recognized"
The current set of VALID_ESCAPE_SEQUENCE

[code]

is too limited and misses escapes of sigil terminators.
![screen shot 2014-10-13 at 7 56 49 pm](https://cloud.githubusercontent.com/assets/298259/4622517/30133ade-533d-11e4-98a9-e669cb6e9c42.png)

Not only should the sigil terminators be escapable, but `VALID_ESCAPE_SEQUENCE` needs to be updated to cover all escapes that Elixir's lexer handles.

[2014-10-14 01:12] KronicDeth opened #15 "Support for Char Escapes"
[Char Tokens](https://github.com/KronicDeth/intellij-elixir/issues/5) make [use](https://github.com/elixir-lang/elixir/blob/4b505286ec61b32cb791b79268ae6c58340c71f0/lib/elixir/src/elixir_tokenizer.erl#L168-L210) of [Char Escapes](https://github.com/elixir-lang/elixir/blob/a4a23b9a937cb22b5c1a2487c02289817b991d8f/lib/elixir/src/elixir_interpolation.erl#L79-L111), so it makes sense to support Char E

[2014-10-15 04:01] KronicDeth opened #16 "Annotate `\x` as an error when missing hexadecimal digits"
At the lexer level `\x` is valid because it allows for uniform handling of character escapes, but iex raised an argument error, so `\x` must report an error

![screen shot 2014-10-14 at 11 00 26 pm](https://cloud.githubusercontent.com/assets/298259/4640389/f2eea0e2-541f-11e4-9e55-71fb7c23e564.png)

[2014-10-15 04:29] #14 closed, assigned to KronicDeth

[2014-10-15 04:29] #15 closed, assigned to KronicDeth

[2014-10-16 03:13] KronicDeth opened #19 "New > Elixir File should underscore file name"
The current version of New > Elixir File, as so nicely provided by @abaire, doesn't differentiate between the File name and the Module name, so if you enter a Module name of Foo, the file is named Foo.ex, but Elixir convention is for the file name to be lowercase and underscored, so ExUnit Module name becomes ex_unit.ex.  I tried debugging the Action and I'm not sure if using the CreateFileFromTem

[2014-10-16 03:17] KronicDeth opened #20 "New > Elixir File should convert . in Module name to directories"
This builds on top of #19.

If a Module name has multiple levels, such as `ExUnit.AssertionError`, then the file should have a nested path of `ex_unit/assertion_error.ex`.  It may be possible to determine how to do this by treating the `ExUnit` has a PACKAGE_NAME and `AssertionError` as a CLASS_NAME and seeing how the Java Class action work in the IDEA Community Edition source.

[2014-10-16 23:40] #11 closed, assigned to nobody

[2014-10-18 01:15] KronicDeth opened #22 "Elixir project creation"
Allow the creation of Elixir projects from the New Project menu.  This will include the use of mix to create the new project template. Feature request by @Claudiojlf in https://github.com/KronicDeth/intellij-elixir/issues/6#issuecomment-59466280.  Requested by @prodev42 in #77 and @andreacfm on [stackoverflow.com](https://stackoverflow.com/questions/27730087/new-elixir-project-in-intellij#comment4

[2014-10-18 02:18] KronicDeth opened #23 "Comments consuming EOL causes expression separation to fail"
Comments currently consume the EOL to make combining multiline comments together easier, but this leads to trailing comments to eat the EOL, which means the required EOL between expressions is not there leading to invalid parses.

[code]

Expected:

[code]

Actual:

[code]

[2014-10-18 04:02] #23 closed, assigned to KronicDeth

[2014-10-20 00:20] #5 closed, assigned to KronicDeth

[2014-10-21 01:44] KronicDeth opened #26 "Full EOL handling"
The current [EOL token](https://github.com/KronicDeth/intellij-elixir/blob/47dca5f103cbc62ca2e539906cc2500250ed7601/src/org/elixir_lang/Elixir.flex#L208) recognizes `\r`, `\n`, and `\r\n` as EOL.  The [elixir tokenizer](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L305-L332) also recognizes `;` and [EOL escapes](https://git

[2014-10-21 02:13] KronicDeth opened #27 "... identifier"
The elixir tokenizer contains a 'Stand-alone token' for ["..."](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L336-L338), which needs to be parsed as an identifier.

[2014-10-21 02:22] KronicDeth opened #28 "Map associations operator"
The map association operator, [`=>`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L340-L341) is not used anywhere else, so it can be parsed by itself

[2014-10-21 02:33] KronicDeth opened #29 "Operators"
Handle [3 token](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L343-L360), [2 token](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L372-L398), and [1 token](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/

[2014-10-21 02:57] KronicDeth opened #30 "Dot"
Handle [`dot`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L434-L436), which needs the rest to be [operators](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L561-L578) (so complete #29 first), [`(`](https://github.com/elixir-lang/elixir/blob/de39bbaca

[2014-10-21 02:58] KronicDeth opened #31 "Integers and Floats"
There is already support for base integers, but not for normal [decimal integers and floats](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L438-L442) which parsed [here](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L738-L769)

[2014-10-22 15:52] KronicDeth opened #32 "Aliases/Module names"
Recognize [aliases](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L454) as module names.  **Note: Not all tokens with leading capital letters are aliases/Module names if they're followed by `:` (`<colon><space>`) then they should just be parsed as the atom keyword identifier for a Keyword list or map.**

[2014-10-22 15:54] KronicDeth opened #33 "Identifiers"
Any token that starts with a lowercase letter or underscore (`_`) and does not match any other token type is an [identifier](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L460-L470)

[2014-10-23 01:01] KronicDeth opened #34 "Sigil modifiers only work on heredoc"
When I added sigils, I added support for modifiers at the end of the work and forgot to add the support to both the group format and heredoc format for sigils: currently only heredoc supports modifiers.

Group format such as `~r()i` should be accepted, but it is not while

[code]

is accepted.

[2014-10-23 03:40] #26 closed, assigned to KronicDeth

[2014-10-24 02:54] #34 closed, assigned to KronicDeth

[2014-11-01 18:13] KronicDeth opened #37 "Containers and commas"
Implementing commas as operators in #29 does not makes sense as unlike other operators, commas should parse a list of expressions (that don't themselves contain commas) instead of nested binary operations.  [elixir_parser.yrl](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl) is able to get away with parsing commas as binary expre

[2014-11-04 02:12] #29 closed, assigned to KronicDeth

[2014-11-05 03:43] #31 closed, assigned to KronicDeth

[2014-11-10 16:16] #33 closed, assigned to nobody

[2014-11-10 17:34] #27 closed, assigned to nobody

[2014-11-12 03:59] #32 closed, assigned to KronicDeth

[2014-11-12 04:12] KronicDeth opened #43 "Bit Strings (Binaries)"
The [bit string](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L491-L494) syntax is used to declare and match binaries.

[2014-11-14 02:27] ghost opened #44 "Latest version issue"
Hi guys,

Here is the screenshot of what I had after installing new version.

http://cl.ly/image/0R1q0g1H0a29

[2014-11-16 20:08] #44 closed, assigned to nobody

[2014-11-18 03:01] #7 closed, assigned to KronicDeth

[2014-11-19 02:22] KronicDeth opened #46 "End of Expression"
`eoe` or End Of Expression is EOL or `;`.  Right now EOL includes `;` in Elixir.flex, so that does not match the usage in [Elixir's parser](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L252-L254)

[2014-11-19 05:11] #46 closed, assigned to KronicDeth

[2014-11-20 00:22] KronicDeth opened #48 "Empty Parentheses"
[Empty parentheses](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L299) are one form of valid [expression](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L86).  It will also entail adding support for open parenthesis, `(`, and close parenthesis, `)` that will

[2014-11-20 04:24] #48 closed, assigned to nobody

[2014-11-20 04:56] KronicDeth opened #50 "Matched Expression"
[Matched expressions](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L91-L122) are calls with parentheses.  They are the [second type of expression](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L87) after empty parentheses, #48.
# Prerequirements
- [x] [In O

[2014-11-20 09:05] KronicDeth opened #51 "In operator"
`in` is keyword for a binary operator used as an "include" operator as in

[code]

[2014-11-22 02:48] #51 closed, assigned to KronicDeth

[2014-11-22 15:54] KronicDeth opened #53 "Dot Operator"
[`dot_op`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L381-L382) is used for the call syntax.  In Elixir's implementation, the parser matches `.` directly, but in IntelliJ, I'll need to parse it in the lexer, Elixir.flex, as `DOT_OPERATOR` and then use it in Elixir.bnf for the parser.

[2014-11-22 21:27] #53 closed, assigned to KronicDeth

[2014-11-22 22:18] KronicDeth opened #55 "Keyword List"
[`kw`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L469-L470) is a prereq for [`list_args`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L478) which is a prereq for [`list`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a

[2014-11-24 03:41] #55 closed, assigned to KronicDeth

[2014-11-25 04:30] KronicDeth opened #57 "Recovery for invalid numbers"
Be able to recovery from invalid digits in numbers so that parsing in pygment example doesn't stop at first invalid number example.
- [x] Detect obsolete `0B` and parse without PsiErrorElement
- [x] Detect obsolete `0X` and parse without PsiErrorElement
- [x] Detect invalid binary digits for `0b` and `0B`
- [x] Detect invalid digits for decimal numbers
- [x] Detect invalid octal digits for `0o`.
-

[2014-11-27 03:45] KronicDeth opened #58 "No Parentheses Expression"
Implement as much of `no_parens_expr` as is possible given the pre-existing translation of [`elixir_parser.yrl`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L121)
# Prereqs
- [x] `matchedExpression` (#50)
# Features
## `no_parens_expr` direct-dependencies
- [x] [Add to `expression`](https://github.com/elixir-lang/elixir/blob/

[2014-11-27 04:35] KronicDeth opened #59 "No Parentheses Operator Expression"
Implement [`no_parens_op_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L156-L173) to complete [`match_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L113-L120) where it uses `no_parens_expr`.

# Prereqs
- [x] `matchedExpression` (#50)
- [x] `noP

[2014-11-27 15:14] KronicDeth opened #60 "No Parentheses One Expression"
`no_parens_one_expr` is part of `matched_expr`.  The `dot_identifier` portion of it is currently implemented by `matchedExpressionDotOperation` and `identifierExpression`, but the `call_args_no_parens_one` still needs to be implemented.

I was able to trigger do_identifier in the tokenizer like so:

[code]

This held into the parser too:

[code]
# Prereqs
- [x] #50
- [x] #58

# Features

## `match

[2014-11-27 15:36] KronicDeth opened #61 "Access Expression"
`access_expr` is partially implemented in #50, but various portions could not be implemented because the lexical tokens were not available.

# Prereqs
- [x] #50
- [x] #62
- [x] #63
- [x] #64
- [x] #65
- [x] #66
- [x] #67
- [x] #68
- [x] #69
- [x] #71

# Features
When all prereqs are complete, then `accessExpression` should completely match `access_expr`.

[2014-11-27 16:15] KronicDeth opened #62 "Bracket @ Expression"
[`backet_at_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L240-L243) is [used in `access_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L200)

# Prereqs
- [x] #50
- [x] #55

# Features

## [`access_expr`](https://github.com/elixir-lang/elixir/bl

[2014-11-27 16:19] KronicDeth opened #63 "Backet Expression"
[`backet_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L237-L238) is [used in `access_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L20`)

# Prereqs
- [x] #50
- [x] #55
- [ ] #62

# Features

## [`access_expr`](https://github.com/elixir-lang/el

[2014-11-27 16:27] KronicDeth opened #64 "Regular keywords"
Lex [regular keywords](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_tokenizer.erl#L963-L968) as distinct tokens from IDENTIFIER.
# Elixir.flex
- [x] Lex `fn` as FN
- [x] Lex `end` as END
- [x] Lex `true` as TRUE
- [x] Lex `false` as FALSE
- [x] Lex `nil` as NIL
# Elixir.bnf
- [x] Add `TRUE` to `accessExpression`
- [x] Add `FALSE` to `acc

[2014-11-27 16:34] KronicDeth opened #65 "Stab"
[`stab`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L268-L269) is [used in `access_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L205-L209) (and [used in `do_block`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2

[2014-11-27 17:12] KronicDeth opened #66 "Map"
[`map`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L538-L540) is [used in `access_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L214)

# Prereqs
- [x] #50
- [ ] #71

# Features

## [`access_expr`](https://github.com/elixir-lang/elixir/blob/de39bbac

[2014-11-27 20:37] KronicDeth opened #67 "Tuple"
[`tuple`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L488-L489) is [used in `access_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L215)

# Prereqs
- [x] #50
- [x] #68

# Features

## [`access_expr`](https://github.com/elixir-lang/elixir/blob/de39bb

[2014-11-27 21:20] KronicDeth opened #68 "Container Arguments Base"
[`container_args`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L444-L446) is [used in `tuple`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L489), [used in `bit_string`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/l

[2014-11-27 22:06] KronicDeth opened #69 "Bit String"
[`bit_string`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L493-L494) is [used in `access_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L221).

# Prereqs
- [x] #50
- [x] #68

# Features

## [`access_expr`](https://github.com/elixir-lang/elixir/blob/

[2014-11-27 22:24] #43 closed, assigned to nobody

[2014-11-27 22:29] #37 closed, assigned to nobody

[2014-11-27 22:37] #50 closed, assigned to KronicDeth

[2014-11-27 22:41] KronicDeth opened #71 "Max Expression"
[`max_expression`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L226-L231) is [used in `access_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L223) and [used in `map_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace062

[2014-11-28 23:33] #64 closed, assigned to KronicDeth

[2014-12-01 03:55] #57 closed, assigned to KronicDeth

[2014-12-13 04:41] #58 closed, assigned to KronicDeth

[2014-12-13 21:45] KronicDeth opened #75 "Recover from missing end-of-expression"
The [pygment example](https://github.com/KronicDeth/intellij-elixir/blob/master/testData/org/elixir_lang/parser_definition/general_parsing_test_case/Pygment.ex) has escape sequences with too many digits.  These extra digits are currently lexed as a separate decimal number immediately adjacent to the valid escape sequences.  This problem can be generalized to expressions being adjacent to each othe

[2014-12-14 17:25] #75 closed, assigned to KronicDeth

[2015-01-01 22:43] prodev42 opened #77 "After installing the plugin, how do I create elixir modules in a project?"
Hi, I have installed the plugin successfully in IntellJ, however it doesn't not let me create elixir modules. What do I have to do to enable this?

[2015-01-02 04:16] KronicDeth commented on #77
There are 3 ways to create modules:

# Using Right-click menu
1. Right-click a directory, such as the `lib` directory made by `mix new`
2. Select `New` from the context menu
3. Select `Elixir File` from the submenu
4. Enter the module name `MyModule`
5. Click `OK`
6. MyModule.ex will open with the Module stub

# Use App Menu
1. Select the File Menu from the application menu
2. Select the `New...`

[2015-01-02 07:09] prodev42 commented on #77
Thanks but I think I did not state my question clearly.

I just installed a fresh copy of IntellJ IDE.  Next I installed your plugin. Can you teach me how to configure/set it up for Elixir?For example, do I have to setup something in Project Settings or Platform Settings? Do I have to install Erlang Plugin?

[2015-01-03 03:18] KronicDeth commented on #77
There are no Project settings or Platform settings.  intellij-elixir doesn't currently require intellij-erlang, although it will probably eventually to leverage the debugger and so intellij-erlang can parse the Erlang code for dependencies (like cowboy for phoenix) and the standard library while intellij-elixir can handle the References between Erlang and Elixir code.  There is no SDK path as no f

[2015-01-03 03:18] #77 closed

[2015-01-04 22:49] KronicDeth opened #78 "New Elixir Project"
There should be a option to create a new Elixir Project in the Intellij Project dialog.  Requested by @prodev42 in #77 and @andreacfm on [stackoverflow.com](https://stackoverflow.com/questions/27730087/new-elixir-project-in-intellij#comment43899731_27730087)

- [ ] Elixir Project in Intellij Project dialog

[2015-01-04 22:53] KronicDeth opened #79 "SDK path setup"
There should be a Project Setting to set the path to `elixir`, `elixirc`, `iex`, and `mix`.  Requested by @prodev42 in #77.

[2015-01-05 01:23] KronicDeth opened #80 "Run configuration"
A run configuration, such as `iex -S mix`, `elixir <project>`, or exrm's `<project> start` for running an Elixir program.  Requested by @prodev42 in #77.

- [ ] `iex -S mix`
- [ ] `elixir <project>`
- [ ] distillery's `<project> start`
- [x] `mix` (#167)
- [x] `mix test` (#482)
- [x] `mix test` debug (#643)

[2015-01-05 01:25] KronicDeth commented on #80
@prodev42, supporting iex as an interactive console or supporting running an program non-interactively, with `elixir` or exrm's release commands should be different features, so which would you like first?

[2015-01-05 01:26] KronicDeth opened #81 "Debugger configuration"
There is no Elixir native debugger, so allow running with the Erlang debugger attached to a project.  This may involve just using the Erlang debugger support from intellij-erlang.  Requested by @prodev42 in #77.

[2015-01-05 07:53] andreacfm commented on #78
@KronicDeth Thanks for opening this.

[2015-01-05 12:44] prodev42 commented on #80
Supporting running an program non-interactively first please. Thanks

[2015-01-09 15:22] KronicDeth opened #82 "Expose `quote` output to user in file viewer"
To test #59, I've added the ability to ask an ElixirFile for it's quoted form so it can be compared to Elixir's native quoted form from `Code.string_to_quoted/2` by talking over JInterface to [intellij-elixir](https://github.com/KronicDeth/intellij-elixir)'s `IntellijElixir.Quoter`.  I should expose the resulting quoted form to the use so that they can visual the output from `quote/2` when making

[2015-01-16 14:48] michaelbuckner opened #83 "Plugin not detecting syntax"
Hello,

I've tried the plugin on both RubyMine and IntelliJ on a  PC and a Mac. I'm not getting any auto-complete or syntax highlighting on either.

Is there some additional configuration required?

[2015-01-16 17:39] KronicDeth commented on #83
Have you read through #6 and confirmed you're not having the same issue: the syntax highlighter is incomplete and you're not noticing the syntax highlighting that is available as outlined in the [README](https://github.com/KronicDeth/intellij-elixir#syntax-highlighting) and shown Preferences > Editor > Colors & Fonts > Elixir? Finally, does the final have an `.ex` extension?  Only `.ex` is registe

[2015-01-16 17:40] KronicDeth opened #84 "Annotator for Modules"
Follow [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Annotator) Aliases as Modules.

[2015-01-16 17:41] KronicDeth opened #85 "Annotator for functions"
Follow [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Annotator) to add annotator for funtions.

[2015-01-16 17:43] KronicDeth opened #86 "Line Marker Provider for Modules"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Line+Marker+Provider) to add Line Marker Provider on Aliases that can link to the Module definition.

[2015-01-16 17:43] KronicDeth opened #87 "Line Marker Provider for function"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Line+Marker+Provider) to add Line Marker Provider to link function usage to definitions.

[2015-01-16 17:45] KronicDeth opened #88 "Completion Contributor for Modules"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Completion+Contributor) to complete Module names when typing an Alias.  Requested by @michaelbuckner in #83.

[2015-01-16 17:46] KronicDeth opened #89 "Completion Contributor for functions"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Completion+Contributor) to complete function names when typing an identifier.  Requested by @michaelbuckner in #83.

[2015-01-16 17:47] KronicDeth opened #90 "Completion contributor for module attributes"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Completion+Contributor) to complete module attributes after typing `@`.  Requested by @michaelbuckner in #83.

[2015-01-16 17:48] KronicDeth opened #91 "Completion contributor for local variables/parameters"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Completion+Contributor) to complete local variable and function paremters when typing an identifier.  Requested by @michaelbuckner in #83.

[2015-01-16 17:49] KronicDeth opened #92 "Reference contributor for Modules"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Reference+Contributor) to make a reference contributor for Modules.  Documentation: http://www.jetbrains.org/intellij/sdk/docs/reference_guide/custom_language_support/references_and_resolve.html

[2015-01-16 17:50] KronicDeth opened #93 "Reference contributor for functions"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Reference+Contributor) to make reference contributor for functions, which may also cover macros.

[2015-01-16 17:52] KronicDeth opened #94 "Find Usages Provider"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Find+Usages+Provider) to allow finding usages of Modules, functions, macros, and attributes.

[2015-01-16 17:53] KronicDeth opened #95 "Folding Builder"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Folding+Builder) to add code folding to anything with `do end` block, such as Modules, functions, macros, and receives.

[2015-01-16 17:54] KronicDeth opened #96 "Go To Symbol Contributor"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Go+To+Symbol+Contributor) I can use Go To Symbol or Search Everywhere to search for calls by name.  Requested by @KronicDeth.

- [x] Functions
- [x] Macros
- [x] Callbacks
- [x] Modulars

[2015-01-16 17:55] KronicDeth opened #97 "Structure View Factory"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Structure+View+Factory) to make a Structure view that shows the Modules and their functions.

[2015-01-16 17:57] KronicDeth opened #98 "Code Formatter"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Formatter) to write formatter to reformat code to some style.  Find out if there is a style-guide for Elixir yet or just copy @pragdave's style from his books.

[2015-01-16 17:57] KronicDeth opened #99 "Code Style Settings"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Code+Style+Settings) to add Code Style Settings to configuration #98 and auto-indenting.

[2015-01-16 17:58] KronicDeth opened #100 "Commenter"
Use [guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Commenter) to add commenter to allow bulk commenting of code when debugging or reworking code.  Test using [guide](http://www.jetbrains.org/intellij/sdk/docs/tutorials/writing_tests_for_plugins/commenter_test.html)

[2015-01-16 18:01] KronicDeth commented on #83
Opened issues to add the completion contributors since although they are in the [Custom Language Support guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Custom+Language+Support), they weren't opened as issues that users like you, @michaelbuckner, could see them as planned work for intellij-elixir.

[2015-01-16 18:52] michaelbuckner commented on #89
I will try that. Thanks!

[2015-02-07 18:12] KronicDeth opened #101 "Setup Continuous Integration"
Setup travis-ci, so that the build runs somewhere other than on my machine and as a starting point for writing a CONTRIBUTING.md.  https://github.com/go-lang-plugin-org/go-lang-idea-plugin uses an ant project as described here https://devnet.jetbrains.com/message/5504832#5504832 to do the build on travis, which may work for intellij-elixir.

[2015-02-09 05:04] #101 closed

[2015-02-17 21:29] jacek99 commented on #78
+1

That seems to be the obvious missing feature from the plugin (preferably with mix support built right in)

[2015-02-28 11:10] sinobra opened #103 "v0.2.0 does not appear to work with Rubymine 7.0.4"
For example Elixir File is not a selection on the New drop-down list,
Elixir file is not in the list of Recognized File Types,
Elixir is not listed under Editor->Inspections

[2015-03-03 08:15] sinobra commented on #103
9:13:39 AM PluginException: class with name "org.elixir_lang.action.CreateElixirFileAction" not found [Plugin: org.elixir_lang]

[2015-03-03 23:21] stocks29 opened #104 "Plugin not working"
I may be doing something wrong here, but when I create a new elixir file, the editor immediately complains about it.

![screen shot 2015-03-03 at 6 19 23 pm](https://cloud.githubusercontent.com/assets/188319/6474797/01b8bf5c-c1d2-11e4-8a96-322e68287af9.png)

Am I doing something wrong here?

[2015-03-04 00:51] KronicDeth commented on #104
No, you're not doing anything wrong, the parser just isn't finished,so it's marking anything it can't parse as an error. I'm counting this a duplicate of #6.

[2015-03-04 00:51] #104 closed

[2015-03-04 01:07] KronicDeth commented on #103
Did you install using the Plugin Browser in Rubymine or the zip here on Github?  I'm unable to reproduce the error with either zip when uninstalling and reinstalling the plugin.

[2015-03-04 01:53] sinobra commented on #103
Hi Luke,

Thank you for your response.  I had downloaded the zipfile from Github.
But after your receiving email, I uninstalled the plugin and re-installed
it using the plugin browser.  Everything appears to be fine.  Thanks!!!!!

Best regards,

Fred Obermann

On Wed, Mar 4, 2015 at 2:07 AM, Luke Imhoff <notifications@github.com>
wrote:

[2015-03-04 02:15] #103 closed

[2015-04-03 21:25] #59 closed

[2015-04-05 04:00] KronicDeth opened #106 "Upgrade to intellij_elixir v0.1.0"
Use [intellij_elixir v0.1.0](https://github.com/KronicDeth/intellij_elixir/releases/tag/v0.1.0) and `GenServer.call` emulation in JInterface instead of direct sends.

[2015-04-05 04:27] #106 closed

[2015-04-07 04:50] #16 closed

[2015-04-07 05:17] KronicDeth commented on #22
From looking at @ignatov's [work on intellij-erlang](https://github.com/ignatov/intellij-erlang/commit/28e4f1e650fafc0156f66a9e4981668442096e05), I think New Project uses moduleTypes for the list of allowed languages.  Further research is needed.

[2015-04-07 21:29] fuson opened #109 "Macros support"
imho It will be the most useful feature, cause top solutions (like Phoenix) massively use this. DSL is one of the core ideas of Elixir.

[2015-04-08 08:06] fuson opened #110 "Keywords (defmodule, defp, etc) have no own color class in editor"
In all other languages it classified as "Keyword" and have proper color style.

[2015-04-09 03:46] KronicDeth commented on #109
I had always planned to support macros by implementing the full parser and AST (quoted) output instead of writing a partial parser that just pretends that `defmodule` and `def` are keywords as some other editor plugins do.

I can actually spit out the quoted AST for the current rules the parser supports (see the `quote` methods in [ElixirPsiimplUtil](https://github.com/KronicDeth/intellij-elixir/b

[2015-04-09 03:59] KronicDeth commented on #110
The issue is that node coloring is part of the syntax highlighter and only the lexer's leaf nodes have syntax highlighting applied to them, so in order to have `defmodule` for modules and `def` and `defp` for functions colored a Keywords, I have to make them be special rules in the lexer, but from Elixir's perspective, `defmodule`, `def`, and `defp` aren't special, they are just identifiers, so th

[2015-04-09 03:59] #110 closed

[2015-04-09 04:03] zyuyou commented on #78
+1, look forward this feature!!

[2015-04-10 19:05] #19 closed

[2015-04-10 19:05] #20 closed

[2015-04-10 20:10] #83 closed

[2015-04-10 20:14] KronicDeth commented on #78
Closing as a duplicate of #22.  Looks like I can't keep track of multiple pages of issues.  Everyone over to #22 with :+1: so I don't lose track and you'll get notifications when I close it.

[2015-04-10 20:14] #78 closed

[2015-04-10 20:18] KronicDeth commented on #77
@prodev42, you'll want to upgrade to v0.3.0 when it appears in the Jetbrains plugin repository or grab it from the releases here on Github: it includes better New > Elixir File support, including transforming Foo.Bar into `foo/bar.ex`.  See the [README](https://github.com/KronicDeth/intellij-elixir/blob/v0.3.0/README.md#new-elixir-module) for usage information.

[2015-04-17 17:52] KronicDeth opened #113 "Allow attaching source to SDK"
The homebrew install of elixir does not leave the .ex and .erl files under /usr/loca/Cellar/elixir/<version>, so the sources need to be checked out from https://github.com/elixir-lang/elixir at the correct tag and then use some mechanism to attach those sources to the Libraries created in #112

[2015-04-17 17:53] KronicDeth commented on #79
Attaching sources to the SDK has been moved to it's own issue, #113.

[2015-04-17 20:22] #79 closed

[2015-04-17 21:18] KronicDeth commented on #28
Closed in favor of #66, as lexing without parsing can't be well tested.

[2015-04-17 21:18] #28 closed

[2015-04-21 01:26] rambocoder commented on #109
Ideally it would be awesome if macros had a different color when looking at the source code of the ex file where they are used, even though that might be kind of redundant because most of elixir code is macros :)

[2015-04-21 02:26] KronicDeth commented on #109
From my understanding of the [Custom Language Guide](https://confluence.jetbrains.com/display/IntelliJIDEA/Syntax+Highlighter+and+Color+Settings+Page), the [`lang.syntaxHighlighterFactory` extensionPoint](https://github.com/JetBrains/intellij-community/blob/d3a415a9c03c8a93aaa6c69f1abdea4f7089f5be/platform/platform-resources/src/META-INF/PlatformExtensionPoints.xml#L86-L89) I'm using for the [curr

[2015-04-25 02:44] KronicDeth opened #115 "Add parenthesesArguments to matchedCallOperation and matchedDotCallOperation"
Work separated from #30.

All forms of parenthesesArguments work with `.` before the parentheses after #30 is resolved, but parenthesesArguments can't be used immediately following an identifier (`matchedCallOperation`) or operator (`matchedDotCallOperation`) when they should be allowed.

[2015-04-25 02:50] KronicDeth opened #116 "unmatched_expr"
Extracted from #30.

- [ ] [`unmatched_expr`](https://github.com/elixir-lang/elixir/blob/39b6789a8625071e149f0a7347ca7a2111f7c8f2/lib/elixir/src/elixir_parser.yrl#L143-L148)

# `unmatched_expr`
- [ ] `unmatched_expr -> matched_expr op_expr` from #140
- [ ] [`unmatched_expr -> unmatched_expr op_expr`](https://github.com/elixir-lang/elixir/blob/39b6789a8625071e149f0a7347ca7a2111f7c8f2/lib/elixir/src

[2015-04-25 03:35] KronicDeth opened #117 "bracket_expr and bracket_at_expr"
The bracket expressions are not dot calls, so moved them out of #30.

[2015-04-25 03:58] #30 closed

[2015-04-26 09:42] joetjen opened #119 "Unable to add Elixir SDK nor gets the installed one detected"
I am running on OSX and have (using brew) Elixir 1.0.2, 1.0.3 and 1.0.4 installed. Nevertheless I am not able to add the SDK to IntelliJ Ultimate as I don't have the option to choose "Elixir SDK" as SDK type and therefore selecting the directory displays an error that no JDK was found in the given path. For testing purposes I disabled almost all other PlugIns, but the problem persists. I also have

[2015-04-27 13:02] KronicDeth commented on #119
The Elixir SDK detection and setup is on master, but not in a released version yet.  I'll release a version sometime this week for you.  Just so you're aware, the SDK detection just makes it appear in the External Libraries view of the project.  It's not used for anything else yet.  I haven't written the mix task runner or anything using `iex` or `elixirc`.

[2015-04-27 13:03] KronicDeth commented on #119
The latest release is 0.3.0 and here's it's [README](https://github.com/KronicDeth/intellij-elixir/blob/v0.3.0/README.md).

[2015-04-28 03:43] KronicDeth commented on #119
[v0.3.1](https://github.com/KronicDeth/intellij-elixir/releases/tag/v0.3.1) has been released.  You can either update it through IntelliJ or get the zip directly from that link if it's not showing up on the Jetbrains Plugin Repository yet.  If you do try to install with the zip you''ll need to uninstall the old version, restart, install the zip, and restart.

[2015-04-28 03:43] #119 closed

[2015-04-29 01:44] zyuyou opened #120 "the new feature "project settiing" didn't work right"
![qq 20150429094003](https://cloud.githubusercontent.com/assets/1913492/7383537/cfd35ffc-ee53-11e4-8ced-3b8820771110.png)
when I try to add the Elixir SDK, the IDE just throw the Exception "NoSuchElementException: null", JDK-1.8 installed  in my os.

[2015-04-29 22:25] KronicDeth commented on #120
Could you please send your logs to Kronic.Deth@gmail.com?  You can follow https://intellij-support.jetbrains.com/entries/23358108 to figure out where your logs are for IntelliJ IDEA.  That should have the full backtrace for the exception, which might help diagnose this.

[2015-04-30 19:56] KronicDeth commented on #120
Unrelated, but I did spot this in your log:
[code]

51.0 of the java byte code means the [.class was built for Java 7](http://stackoverflow.com/a/11432195).  You may want to open a bug against BatchRunner telling them that they are targeting Java 7 instead of the recommend Java 6.

[2015-04-30 20:06] KronicDeth commented on #120
[Log file](https://gist.github.com/KronicDeth/9981f57aff6aa6b0eeb9)

[code]

[code]

[code]

[2015-04-30 20:15] KronicDeth commented on #120
Failing [line|https://github.com/KronicDeth/intellij-elixir/blob/41b214138f189793657e919fcd5f1dccaaa88c67/src/org/elixir_lang/SdkType.java#L66] is

[code]

So, I was just sloppy and assumed that suggestedHomePaths would find a match, but that's obviously not true since I only wrote suggestHomePaths to handle homebrew installs on OSX so far.  I'll update the function to check `hasNext()` on `iterat

[2015-05-01 01:53] zyuyou commented on #120
But I had homebrew installed on my OS X, and also use the homebrew to install the elixir, there still go wrong. Is the next update will fix the problem on Windows and Linux ?

[2015-05-01 04:17] KronicDeth commented on #120
Well, I'm not sure why it didn't see homebrew on OSX since that's what I tested it with.  [It's](https://github.com/KronicDeth/intellij-elixir/blob/41b214138f189793657e919fcd5f1dccaaa88c67/src/org/elixir_lang/SdkType.java#L121-L138) looking for the path pattern `/usr/local/Cellar/elixir/<version>` and then [checks if that directory has the expected binaries in it](https://github.com/KronicDeth/int

[2015-05-01 19:44] #120 closed

[2015-05-01 19:58] KronicDeth commented on #120
@zyuyou, please upgrade to v0.3.2 and let me know if you if it does not fix the exception and I'll reopen this bug.

[2015-05-02 05:32] zyuyou commented on #120
Thank you very much!  I test it on my OSX and my Windows, and it work right with setting the sdk.
Although there are some questions with the feature, but I will create new issue for them.

[2015-05-06 02:56] #60 closed

[2015-05-06 03:04] KronicDeth commented on #115
Resolved by #122

[2015-05-06 03:04] #115 closed

[2015-05-06 03:09] KronicDeth commented on #2
@h4cc, #122 finally got to parsing your example correctly.  It'll be in the next release (v0.3.3 or v0.4.0).

[2015-05-07 13:50] santiagopoli opened #123 "Missing `:` or new line"
Hi,
I've recently installed the plugin and I'm seeing these errors even in a simple elixir file like this:

![screenshot from 2015-05-07 10 44 51](https://cloud.githubusercontent.com/assets/759695/7516505/44371610-f4a6-11e4-9740-375659060567.png)
![screenshot from 2015-05-07 10 45 08](https://cloud.githubusercontent.com/assets/759695/7516507/44e42b16-f4a6-11e4-95f2-437687c33c42.png)

What am I doi

[2015-05-09 04:00] KronicDeth commented on #123
Thanks for posting screenshots here on Github where other users can see them later if they have similar problems.

You aren't doing anything wrong. As the [README.md](https://github.com/KronicDeth/intellij-elixir/blob/481d04430c9be047523c807018181f7697c3de82/README.md):

`Test do` is red because do block parsing is not yet implemented, so the parts of the parser that are implemented match what the

[2015-05-09 04:00] #123 closed

[2015-05-10 08:44] h4cc commented on #2
:+1: Thanks!

[2015-05-14 15:02] mvbaffa opened #124 "Run, Debug and Make"
Hi,

I have just downloaded Elixir Plugin. Can you please give me the path to create a new Run configuration and make/compile the project.

I have Erlang and Erlang Plugin installed how can I Debug Elixir or attach the Erlang debugger and use it in my Elixir Project.

Thanks

[2015-05-15 15:28] KronicDeth commented on #124
I'm not sure how to add Run Configuration support off the top of my head.  I haven't looked into it yet, but #80 is already open to work on it as other users have requested it.  I would have to look at intellij-erlang to see which extension points are used for Run Configurations.

You should able to just open the intellij-elixir in IntelliJ and it will pick up the project configuration as it's com

[2015-05-15 19:15] #63 closed

[2015-05-15 20:02] mvbaffa commented on #124
There is not mix.exs in the project directory

[2015-05-15 20:07] mvbaffa commented on #124
You'll need to do mix release. There is no mix.exs in the project directory

[2015-05-16 03:34] #62 closed

[2015-05-16 04:24] KronicDeth commented on #117
Duplicate of #62 and #63.

[2015-05-16 04:24] #117 closed

[2015-05-17 22:52] KronicDeth commented on #124
Hyphen (`-`) vs underscore (`_`) matters.  This project uses a hyphen in its name.  The Elixir project used for testing this project uses an underscore in its name.  When I said run `mix release`, that was in the Elixir project, https://github.com/KronicDeth/intellij_elixir, which has a [mix.exs](https://github.com/KronicDeth/intellij_elixir/blob/master/mix.exs).  I'm sorry if my phrasing was uncl

[2015-05-26 13:40] #65 closed

[2015-05-31 09:24] elfet commented on #6
@KronicDeth are you going to release this plugin? %)

[2015-05-31 13:38] KronicDeth commented on #6
@elfet some version of the plugin has been released in the JetBrains plugin repository since 2014-04-08.  You can install it using [the instructions in the README](https://github.com/KronicDeth/intellij-elixir#installation).  This issue is still open because the parser won't be complete until [v1.0.0](https://github.com/KronicDeth/intellij-elixir/milestones/v1.0.0).

[2015-05-31 19:46] #66 closed

[2015-05-31 19:50] KronicDeth commented on #71
Resolved by #128

[2015-05-31 19:50] #71 closed

[2015-05-31 19:52] KronicDeth commented on #68
Resolved by #125

[2015-05-31 19:52] #68 closed

[2015-06-03 12:56] #67 closed

[2015-06-04 03:06] #69 closed

[2015-06-04 03:07] KronicDeth commented on #61
All subrules complete as of #130.

[2015-06-04 03:07] #61 closed

[2015-06-04 13:31] KronicDeth opened #131 "Test parsing of elixir-lang/elixir"
As a final test before [v1.0.0](https://github.com/KronicDeth/intellij-elixir/milestones/v1.0.0) is released, setup JUnit tests (maybe a theory?) showing that all `.ex` and `.exs` files in [`elixir-lang/elixir`](https://github.com/elixir-lang/elixir) can be parsed and quoted with `assertParsedAndQuotedCorrectly();`.  This should uncover any systemic edge cases I've been missing including any place

[2015-06-05 14:18] KronicDeth opened #132 "Syntax highlight module attributes"
Module attributes should be colored so they pop like in vim-elixir:

![screen shot 2015-06-05 at 9 17 46 am](https://cloud.githubusercontent.com/assets/298259/8007786/c3764454-0b63-11e5-867d-0889defa7df0.png)

vs the plain white, no highlighting currently in intellij-elixir v0.3.4:

![screen shot 2015-06-05 at 9 18 28 am](https://cloud.githubusercontent.com/assets/298259/8007812/dd1af788-0b63-11e5

[2015-06-06 01:28] KronicDeth opened #133 "Shorter operator names are being favored over longer identifier names for atoms"
# Actual

v0.3.4 highlights `:index` as `:in<nospace>dex` so that only `in` is highlighted as an atom.  Similiarly, `:not_found` is highlighted as `:not<nospace>_found` so that only the `not` is hightlighted as an atom.

![screen shot 2015-06-05 at 8 21 17 pm](https://cloud.githubusercontent.com/assets/298259/8017638/4a14b808-0bc1-11e5-8a17-a6bf7c04db16.png)

# Expected
All of `:index` and all of

[2015-06-09 20:38] h4cc commented on #100
This would be a usable feature! :+1:

[2015-06-22 00:58] KronicDeth opened #134 "Block expressions"
Extracted from #116

- [x] [`unmatched_expr`](https://github.com/elixir-lang/elixir/blob/39b6789a8625071e149f0a7347ca7a2111f7c8f2/lib/elixir/src/elixir_parser.yrl#L143-L148)

# `unmatched_expr`
- [x] [`unmatched_expr -> unary_op_eol expr`](https://github.com/elixir-lang/elixir/blob/39b6789a8625071e149f0a7347ca7a2111f7c8f2/lib/elixir/src/elixir_parser.yrl#L145)
- [x] [`unmatched_expr -> at_op_eol e

[2015-06-22 01:39] #134 closed

[2015-06-22 12:25] KronicDeth opened #136 "-x is incorrectly wrapped in a single block when part of a stab"
Quote

[code]

Actual:

[code]

Expected:

[code]

[2015-06-22 14:05] #133 closed

[2015-06-22 18:02] #136 closed

[2015-06-23 14:33] jjoselv opened #139 "Creating New File after "New Project" creation, is not possible due to filename not valid"
After I create a New Elixir Project, and I click on "New"->"Elixir File", I cannot create a new Elixir file - any name that I put doesn't match the pattern for the filename. On top of that, the title of the window when creating a new file is: "New Elixir Module":

![Image of error](http://i60.tinypic.com/2enypvc.png)

Is this going wrong?

Tested on IntelliJ IDEA 14.1.4, Windows 7 - x32

[2015-06-24 02:20] KronicDeth commented on #139
The New Elixir dialog

![screen shot 2015-06-23 at 9 14 49 pm](https://cloud.githubusercontent.com/assets/298259/8321482/f837a268-19ec-11e5-84fe-8a566cb2db48.png)

assumes the name follows Elixir module naming conventions, so you'd have use a valid Alias name like `Foo.Bar` or `Elixir.File`.  You don't include the `.ex` or `.exs` extension.

If you want to not have intellij-elixir automatically cr

[2015-06-24 07:11] jjoselv commented on #139
Oh, my bad man, I misunderstood the thing about Elixir files and Elixir modules. No probs! And very good job! ^^

[2015-06-24 07:11] #139 closed

[2015-06-24 19:00] KronicDeth opened #140 "unmatched_expr -> matched_expr op_expr"
Extracted from #116

`matched_expr op_expr` means a matched expression followed by an operator and any expression, meaning a blockExpression, emptyParentheses or unqualifiedNoParenthesesManyArgumentsCall as an matchedExpression would already be a matchedExpression overall.

# `unmatched_expr`
- [ ] [`unmatched_expr -> matched_expr op_expr`](https://github.com/elixir-lang/elixir/blob/de39bbaca27700

[2015-06-25 00:33] derekmorr opened #141 "Should look for Elixir SDK in /usr and /usr/local on Unix"
On Unix (but maybe not OS X), the plugin should look for Elixir SDK(s) in /usr and /usr/local

[2015-06-26 22:42] KronicDeth commented on #141
Unless I setup a VM, I don't have access to an Elixir install on any Linux since I develop on OSX.  I need to full path, or pattern (like where is the wild-card for the Elixir and/or Erlang version)?

For example, on OSX, I search in `/usr/local/Cellar/elixir/<version>` for Homebrew installs and confirm the install by looking for `/usr/local/Cellar/elixir/<version>/bin/elixir`, `/usr/local/Cellar/

[2015-06-27 01:05] derekmorr commented on #141
I installed Elixir via the packages on Erlang Solutions using the instructions at
https://www.erlang-solutions.com/downloads/download-elixir

That installs elixir, elixirc, iex, and mix in /usr/local/bin.

The ebin directories are in /usr/local/lib/elixir/lib/<name>/ebin.

[2015-06-27 03:15] williamgueiros commented on #124
Do you have more information about debugging, and how I can help you to add debugger?

[2015-06-28 12:16] mvbaffa commented on #124
Sorry but I am very busy this days. I will not be able, for some time, to
continue this work.
Em 27/06/2015 00:15, "william de melo gueiros" <notifications@github.com>
escreveu:

Do you have more information about debugging, and how I can help you to add
debugger?

—
Reply to this email directly or view it on GitHub
<https://github.com/KronicDeth/intellij-elixir/issues/124#issuecomment-115948833>

[2015-06-29 11:31] zyuyou opened #142 "MixProjectImportBuilder need psi-parser to get info from mix.exs"
I try to add the `MixProjectImportBuilder` which like [intellij-erlang](https://github.com/ignatov/intellij-erlang)'s `RebarProjectImportBuilder` to the plugin, but this feature need psi-parser to get some information (project-name, application-configure, deps etc ) from `mix.exs`.  I just want to know that when  can the parser have support for detecting the `defmodule` and the other terms. It's r

[2015-06-30 02:22] KronicDeth commented on #142
The PSI parser parsing Elixir correctly will be complete in [v1.0.0](https://github.com/KronicDeth/intellij-elixir/milestones/v1.0.0).  #140 is part of [v1.0.0](https://github.com/KronicDeth/intellij-elixir/milestones/v1.0.0).  Currently, #140 is blocked by a bug with `not one ^^^ not two @three four do end` associating the `do end` with `@three` instead of `two`.  Something is special about `@` b

[2015-06-30 04:06] zyuyou commented on #142
Truely I can’t realize the bug you metioned above, but anyway you will fix it.

[2015-06-30 04:11] zyuyou commented on #142
Truely I can’t realize the bug you metioned above, but anyway you will fix it.
Looking forward to your good news！

[2015-07-02 01:47] KronicDeth opened #143 "Function reference syntax"
Function references with the name and arity like `function/arity`, `Module.function/arity`, `Module.<operator>/arity` and `<operator>/arity` need to be recognized by the parser.  I believe all forms, but `<operator>/arity` already work, but they should be tested.

Blocks #131:
- [x] `Enum.ex`

[2015-07-02 02:32] KronicDeth opened #144 "`or` prefix is favored over full identifier"
`exception.original` is parsed a `exception.or<nospace>iginal`:

[code]

This means #137 is an incomplete solution for #133.  Blocks correct quoting of `exception.ex` for #131.

- [x] [lib/elixir/lib/exception.ex:735](https://github.com/elixir-lang/elixir/blob/e02d7bf913f3e5ea8c9e49648e69324ec5c65919/lib/elixir/lib/exception.ex#L735)

[2015-07-02 03:05] KronicDeth opened #145 "Dual operators (-/+) without surrounding spaces are parsed as prefix operators"
`one-two` and `one - two` should be parsed as ` {:-, [line: 1], [{:one, [line: 1], nil}, {:two, [line: 1], nil}]}` while `one -two` should be parsed a `{:one, [ambiguous_op: nil, line: 1],  [{:-, [line: 1], [{:two, [line: 1], nil}]}]}`.  Right now `one - two` parses correctly, but `one-two` quotes as `{one,[{line,1}],[{'-',[{line,1}],[{two,[{line,1}],nil}]}]}`, which is the quoted form of `one -tw

[2015-07-02 08:12] nakhli commented on #6
off topic: do you guys accept donations for the project? it would be nice if we are able to accelerate this work.

[2015-07-02 10:07] smeevil commented on #6
+1 on funding, really would like to have first class support in ruby mine(or derivative) just like alchemist dies for emacs

[2015-07-02 11:48] nakhli commented on #6
+1 for RubyMine! I use rubymine for both ruby and golang

[2015-07-02 12:51] KronicDeth commented on #6
@smeevil, @nakhli the plugin does work in Rubymine.  You can make `*.ex` or `*.exs` files and they'll be lexed and parsed and annotated as Elixir.

The only feature that doesn't is "File > New > Project From Existing Source..." because that [uses](https://github.com/KronicDeth/intellij-elixir/blob/10e0951e2545c8f75d636f8a29bc8a34484a511d/src/META-INF/rich-platform-plugin.xml#L7) an Extension Point

[2015-07-02 12:55] smeevil commented on #6
yeah , I am using it in ruby mine :) I was referring to the support and development of the plugin in general. So if you like feel free to put a donation button somewhere !

[2015-07-02 13:37] KronicDeth commented on #6
@smeevil, @nakhli I added a Paypal Donate link to the [README](https://github.com/KronicDeth/intellij-elixir/blob/master/README.md#donations).  I can look into other payment systems (Patreon, etc) if that doesn't work with however you wanted to donate.

[2015-07-03 03:14] KronicDeth opened #146 "list does not allow EOL between listArguments and CLOSING_BRACKET"
[code]

gives a PsiErrorElement because `list ::= OPENING_BRACKET EOL* listArguments? CLOSING_BRACKET` is missing `EOL*` before `CLOSING_BRACKET`.

Block #131:
* [lib/elixir/lib/kernel/typespec.ex:378-379](https://github.com/elixir-lang/elixir/blob/e02d7bf913f3e5ea8c9e49648e69324ec5c65919/lib/elixir/lib/kernel/typespec.ex#L378-L379)
* lib/elixir/lib/protocol.ex
  * [364-L365](https://github.com/el

[2015-07-03 03:37] KronicDeth opened #147 "anonymousFunction only allows on endOfExpression between FN and stab"
`fn` cannot be followed by more than one newline or the `stab` will not match.  Change `endOfExpression?` to `endOfExpresssion*`.

Blocks #131:
- [ ] [lib/elixir/lib/kernel/typespec.ex:684-686](https://github.com/elixir-lang/elixir/blob/e02d7bf913f3e5ea8c9e49648e69324ec5c65919/lib/elixir/lib/kernel/typespec.ex#L684-L686)

[2015-07-03 12:26] nakhli commented on #6
@KronicDeth I am using this go plugin: https://github.com/go-lang-plugin-org

[2015-07-03 17:40] KronicDeth opened #148 "String heredoc inside of literal string sigil heredoc using triple single-quote marked as error"
[code]

is parsed with a `PsiErrorElement` likely due to a lexing error that make the `"""` be a `STRING_FRAGMENT`:

[code]

Blocks #131:
- [ ] lib/elixir/lib/module.ex
  - [ ] [122](https://github.com/elixir-lang/elixir/blob/e02d7bf913f3e5ea8c9e49648e69324ec5c65919/lib/elixir/lib/module.ex#L122)
  - [ ] [158](https://github.com/elixir-lang/elixir/blob/e02d7bf913f3e5ea8c9e49648e69324ec5c65919/lib/

[2015-07-03 19:41] KronicDeth opened #149 "Parentheses in matchedExpression in stabSignature causes error"
[code]

parses with an error:

[code]

I believe this is because the `(signatureOne)` is matching as `stabParenthesesSignature`. It is before `stabNoParenthesesSignature` in `stabSignature`.  Filling order should fix it.

Blocks #131:
- [x] [lib/elixir/lib/option_parser.ex:470](https://github.com/elixir-lang/elixir/blob/e02d7bf913f3e5ea8c9e49648e69324ec5c65919/lib/elixir/lib/option_parser.ex#L470)

[2015-07-05 18:26] KronicDeth opened #150 "single unquote_splicing in __block__ does not replace __block__"
[code]

is misquoted

[code]

It appears [unwrapSplice](https://github.com/elixir-lang/elixir/blob/de39bbaca277002797e52ffbde617ace06233a2b/lib/elixir/src/elixir_parser.yrl#L704-L712) is missing or incorrectly implemented.  I recall implementing.  I think I removed it when I couldn't figure out a test case to trigger it being needed.

Blocks #131
- [ ] [lib/ex_unit/lib/ex_unit/doc_test.ex:237](htt

[2015-07-05 18:37] KronicDeth opened #151 "`not` prefix is favored over full identifier"
`:gen_event.notify` is lexed as `:gen_event.not<nospace>ify`, as an example.

Related to #144.

Blocks #131:
- [x] lib/ex_unit/lib/ex_unit/event_manager.ex
  - [x] [32](https://github.com/elixir-lang/elixir/blob/e02d7bf913f3e5ea8c9e49648e69324ec5c65919/lib/ex_unit/lib/ex_unit/event_manager.ex#L32)
  - [x] [36](https://github.com/elixir-lang/elixir/blob/e02d7bf913f3e5ea8c9e49648e69324ec5c65919/lib/

[2015-07-08 13:14] wende opened #153 "Autocomplete suggestions based on Atom's autocomplete-elixir"
Hello there!
I'm the creator of Atom plugin - [autocomplete-elixir](https://github.com/iraasta/autocomplete-elixir). Which proposes smart autocompletions based on module methods and specs.

I'm also a big fan of IntelliJ platform but I lack Java skills to write a plugin myself.
I guess You could use a heart of my plugin which is an elixir script to make code completion in Your plugin.
[Here is the

[2015-07-08 17:53] #116 closed

[2015-07-08 17:54] KronicDeth commented on #140
Resolved by #152

[2015-07-08 17:54] #140 closed

[2015-07-10 07:55] zyuyou commented on #22
hello, I have rewrite the sdkType part which you have implemented, and the new one is more like intellij-erlang.
![new project](https://cloud.githubusercontent.com/assets/1913492/8613951/5cdafdbe-2717-11e5-81c5-e0ecd9dc44c3.png)
<new Project> is very simple, but it will create the source-dir **lib** instead of **src**.
![mix-importwizard-1](https://cloud.githubusercontent.com/assets/1913492/861427

[2015-07-10 18:09] KronicDeth commented on #22
Very nice @zyuyou, are you planning on opening a pull request now or waiting until you finish the "Allow setting of mix new options using mix from Setup SDK"?  Being able to run `mix compile` and `mix clean` is already a huge feature.  More PRs that are tightly focused are good because (1) it's easier for me to code review them; (2) it's easier to describe them in the changelog; and (3) if you hav

[2015-07-11 06:37] #145 closed

[2015-07-11 17:03] zyuyou commented on #22
yes, and I will take time to do that，because it need some test-case and be tested in other idea products.
one more thing is what are **idea.xml**, **intellij-elixir.xml**, **intellij_elixir.xml** , **module_intellij-elixir.xml** the four files for? and how to use it? Although, I known that some for get dev-env and some for package the product-plugin.

[2015-07-11 22:06] KronicDeth commented on #22
The `*.xml` files are used to run [the build on travis-ci.org](https://travis-ci.org/KronicDeth/intellij-elixir) [using ant](https://github.com/KronicDeth/intellij-elixir/blob/0e9300c94da9a981e39a540740937e48dc27cead/.travis.yml#L9-L10) because the [run configuration](https://github.com/KronicDeth/intellij-elixir/tree/0e9300c94da9a981e39a540740937e48dc27cead/.idea/runConfigurations) in the IDEA pr

[2015-07-11 22:37] #146 closed

[2015-07-12 03:41] zyuyou commented on #22
ok, thanks!

[2015-07-12 06:22] #144 closed

[2015-07-12 06:22] #151 closed

[2015-07-13 03:25] #149 closed

[2015-07-14 02:47] #147 closed

[2015-07-16 02:03] #143 closed

[2015-07-16 03:33] #150 closed

[2015-07-16 13:08] jaketrent opened #161 "New file dialog order"
This plugin is awesome.  Thank you for your work on it.

I have a suggestion to change the location of the 'Exilir File'  option in the `ctrl-N`-activated 'New file' popup dialog.  I propose that it go below the separator line with the other language-specific file options so that the options above the separator line remain generic.

This will:
- Keep the separation in this dialog clear between gen

[2015-07-16 15:36] KronicDeth commented on #161
I'm not actually sure how the ordering is controlled.  I just copied what intellij-erlang did and it's also above the separator.

![screen shot 2015-07-16 at 10 32 12 am](https://cloud.githubusercontent.com/assets/298259/8727609/39a37f22-2ba6-11e5-970f-54d800f1d8f9.png)

Do you know an open source plugin where it has the '<language> File' below the separator, so I can figure out how they did it?

[2015-07-16 16:05] jaketrent commented on #161
Great question.  I'm not sure right now.  I'll keep an eye out.

On Thu, Jul 16, 2015 at 9:36 AM Luke Imhoff <notifications@github.com>
wrote:

[2015-07-17 03:52] KronicDeth opened #164 "unary operation in parentheses as only argument to call should not be an ambiguous_op"
[code]

[code]

Blocks #131
- [x] lib/elixir/lib/kernel.ex
  - [x] [791](https://github.com/elixir-lang/elixir/blob/e02d7bf913f3e5ea8c9e49648e69324ec5c65919/lib/elixir/lib/kernel.ex#L791)
  - [x] [807](https://github.com/elixir-lang/elixir/blob/e02d7bf913f3e5ea8c9e49648e69324ec5c65919/lib/elixir/lib/kernel.ex#L807)

[2015-07-17 03:56] KronicDeth opened #165 "elixir-lang/elixir/lib/test/elixir/fixtures/parallel_compiler/bat.ex is expected failure"
The file is not a clean parse in native Elixir, so should be marked assertParsedWithErrors instead of assertParsedAndQuotedCorrectly.

[2015-07-17 03:58] KronicDeth opened #166 "Skip elixir-lang/elixir/lib/mix/tasks/deps.clean.ex"
The file [exposed](https://groups.google.com/forum/#!topic/elixir-lang-core/W0sjGdeSva0) a bug in native Elixir v1.0.4, so skip the file until testing with the [fix](https://github.com/elixir-lang/elixir/commit/3e52ed0fbbc09a156e6ea180baff3b89a8da183e), which is only on master at this time.

[2015-07-17 04:03] #161 closed

[2015-07-17 04:03] #148 closed

[2015-07-20 08:16] olivermt commented on #6
Just threw up a $100 donation to you, good work so far :+1:

I was wondering if you have some sort of timeline for reaching 1.0?

[2015-07-21 08:13] smeevil commented on #6
Added an other $100 on top of that as well, keep it up :D

[2015-07-22 03:01] KronicDeth opened #169 "EOL after `+` should be treated the same as whitespace for binary vs unary"
Related to #145.

The fix in #154 missed some cases of whitespace/EOL because they didn't appear in Elixir [v1.0.4](https://github.com/elixir-lang/elixir/tree/v1.0.4), but they do appear in [3e52ed0fbbc09a156e6ea180baff3b89a8da183e](https://github.com/elixir-lang/elixir/commit/3e52ed0fbbc09a156e6ea180baff3b89a8da183e), specifically in
- [x] [lib/elixir/lib/string.ex:1540-1542](https://github.com/e

[2015-07-22 03:49] #169 closed

[2015-07-23 03:15] KronicDeth opened #172 "Parentheses calls after quote isn't handled correctly"
![screen shot 2015-07-22 at 9 58 28 pm](https://cloud.githubusercontent.com/assets/298259/8842212/eee52898-30bc-11e5-8326-0efd99bb4c6e.png)

Blocks #131:
- [ ] lib/elixir/lib/kernel.ex
  - [ ] [1019](https://github.com/elixir-lang/elixir/blob/3e52ed0fbbc09a156e6ea180baff3b89a8da183e/lib/elixir/lib/kernel.ex#L1019)
  - [ ] [1085](https://github.com/elixir-lang/elixir/blob/3e52ed0fbbc09a156e6ea180ba

[2015-07-23 21:01] #164 closed

[2015-07-24 03:42] KronicDeth commented on #6
@olivermt 1.0 is a [milestone](https://github.com/KronicDeth/intellij-elixir/milestones/v1.0.0), so you can just monitor that to see what's blocking.  Right now, the only thing I know is the [bug in Kernel.ex](https://github.com/KronicDeth/intellij-elixir/issues/172).  I'll also probably make a feature to ensure all the tokens and rules have human-readable names for clearer error messages since th

[2015-07-24 03:55] #172 closed

[2015-07-24 04:21] #131 closed

[2015-07-24 04:21] #165 closed

[2015-07-24 04:21] #166 closed

[2015-07-24 04:22] KronicDeth opened #175 "Not all tokens have human-readable names"
Any token appearing in a parser error message should have a human-readable name instead of the type name.

[2015-07-25 04:04] williamgueiros opened #177 "Debugger"
hello...

do you know, where i find documentation, to create integration with debugger in this project??
i lost a lot of time on google but i can't found.

[2015-07-25 08:23] zyuyou commented on #177
You mean debug this plugin project or elixir-project?

[2015-07-25 15:53] williamgueiros commented on #177
In elixir do you have a possibility to using debugger.
http://www.jessetrimble.net/iex-pry-elixir/

but putting any information in you code only to debugger is not beautiful, and if i forget this line your project, he will go stopping in production and you will not know why.
in the past people putting debugger in middle of javascript code to debugger.

do you know, how I can create logic to breakp

[2015-07-25 17:17] zyuyou commented on #177
For now, the elixir debugger had not been implemented in IDEA, so you may just lost a lot of time on creating integration with debugger in elixir-project.

You can keep following the debugger's developments in issue #81 .

[2015-07-25 18:26] williamgueiros commented on #177
:+1: I will try to help you in debugger implement

[2015-07-25 20:33] KronicDeth commented on #177
As stated in #81, @williamgueiros, my working plan is to look at what intellij-erlang did and adapt it as needed for Elixir.  Since Elixir passes the original Elixir lines into the compiled beams, it may just work, but I haven't read enough of the intellij-erlang debugger code to see if it's dependent on anything other than line number (such as something derived from the parser).  Closing this as

[2015-07-25 20:33] #177 closed

[2015-07-26 02:40] williamgueiros commented on #81
ok i will try developer debugger.
in projet intellij-erlang the first commit is:
 https://github.com/ignatov/intellij-erlang/commit/e4d9fbd3d2798692af935cc4564f4d8112f35978

and if you have more official information from jetbrains, how developer this, please send to me.

[2015-07-27 03:42] #175 closed

[2015-07-27 03:49] KronicDeth commented on #6
#172 was fixed by #173.  Better human-readable error messages by way of token names landed in #178.  Expect the v1.0.0 release sometime this week.  Depends on how many changes I need to make to the README.  (I keep changes in the CHANGELOG.md and pluginx.ml, but out of the README on master so that users don't open bugs asking where a feature in the README is in the released version that lags maste

[2015-07-27 03:49] #6 closed

[2015-07-27 06:48] develop7 commented on #6
@KronicDeth thanks!

[2015-07-27 23:41] KronicDeth commented on #80
#167 will resolve this issue

[2015-07-27 23:42] KronicDeth commented on #22
This will be resolved by partially by #167

[2015-07-28 22:27] plamb opened #179 "Seperate keywords, variables and function for syntax highlighting"
Quick suggestion, no idea if this is actually possible.

I'd love to see the identifiers category split up into separate ones for keywords, variables and function names. And to go even further, it would be amazing if there was a way to visually group function names that are the same but have different pattern matched arguments (maybe have a background color that changes).

[2015-07-29 01:01] KronicDeth commented on #179
I can't do the basic-level syntax highlighting like the current categories that would distinguishes between keywords, variables, and functions because that highlighting is attached to the ASTNodes that the lexer produces and they are all IDENTIFIER tokens at that level.  I can use the annotates to do highlighting at the higher parser level though, but I haven't done anything like that yet.  I'm wo

[2015-07-29 01:51] zyuyou commented on #179
@KronicDeth , maybe you can see [ErlangAnnotator](https://github.com/ignatov/intellij-erlang/blob/master/src/org/intellij/erlang/editor/ErlangAnnotator.java).

[2015-07-31 04:58] zyuyou opened #180 "Travis-ci got `cannot find symbol` error"
![2015-07-31 12 44 06](https://cloud.githubusercontent.com/assets/1913492/9000928/5972beb6-3782-11e5-8a80-c63e4c0702fe.png)

As showed in [travis-ci#291](https://travis-ci.org/KronicDeth/intellij-elixir/builds/73492887),  I got the same error before, but I don't know why, so I just suppose that I have got the newer idea's source code which contains some methods like `FileTemplateManager.getDefault

[2015-07-31 12:42] KronicDeth commented on #180
It appears that the build cache was not invalidated correctly and the old, 14.0.2 version of IDEA Community Edition was used on master.  I manually deleted the build cache on master on travis-ci.org and restarted [the build](https://travis-ci.org/KronicDeth/intellij-elixir/builds/73492887) and it succeeded.

Sometime in the future, when there aren't more important features or bugs to work on, I'll

[2015-07-31 12:42] #180 closed

[2015-08-03 22:39] hivre opened #181 "default SDK path for Ubuntu"
The default path for the Elixir SDK on Ubuntu (15.04, but I don't think that really matters) is
`/usr/local/bin/elixir`

If you want to add an SDK, you currently need to use the path `/usr/local/`

[2015-08-04 06:53] zyuyou commented on #181
![2015-08-04 2 47 41](https://cloud.githubusercontent.com/assets/1913492/9054828/ca74835a-3ab7-11e5-86fc-26b070bc70e7.png)
This SDK path is for my mac, so I think the default path for the Elixir SDK on Ubuntu or other Linux system should contain the sub-directory `lib` and `lib` contained the sub-directory `iex`, `elixir`, `mix` etc, anyway it should not be `/usr/local/`.

[2015-08-04 07:00] zyuyou commented on #181
@hivre Can you show us the full path  of the installed **Elixir** in the Ubuntu, and tell us how you set up the Elixir,  `apt-get ` or  build from source code?

[2015-08-04 07:25] hivre commented on #181
![lubuntu_elixir](https://cloud.githubusercontent.com/assets/9581049/9055344/93603332-3a8a-11e5-9fde-8bad1c0c0c1b.jpg)

Different computer, lubuntu, but all the same under the hood.
installed using apt-get following the guide on the elixir website

[2015-08-04 07:32] hivre opened #182 "default SDK path on Windows"
The default SDK path on Windows 7 is `C:\Program Files (x86)\Elixir\bin`, if all defaults in the elixir installer are followed.

![windows_elixir](https://cloud.githubusercontent.com/assets/9581049/9055450/820796a6-3a8b-11e5-9985-0e82eb05743e.png)

[2015-08-04 09:52] zyuyou commented on #181
@hivre What about `tree -L 2 /usr/local/lib/elixir`?

[2015-08-04 19:13] hivre commented on #181
I'll give 3 levels deep :)
[code]

[2015-08-05 01:11] zyuyou commented on #181
Thanks, I will add the default SDK path for Linux and Windows next week.

[2015-08-07 22:10] chris opened #183 "Run config for a specific test file"
Hi, first, thanks for making the Elixir plugin! I'd like to be able to run a specific test file instead of just `mix test`/the entire test suite. I'm not seeing how I could configure this. Is it possible? RubyMine has this for example.

[2015-08-08 02:15] zyuyou commented on #183
Yes, it is possible. but I not sure that in RubyMine, I will try for that.

@KronicDeth, since this **ExUnit** feature need some powerfull parser as I said in [this comment](https://github.com/KronicDeth/intellij-elixir/pull/167#issuecomment-125969935), would you plan to do that?

[2015-08-08 12:57] KronicDeth commented on #183
I can writing the Util methods to determine whether you're in the context of an entire file or inside a specific `test "name" do end` block.  @zyuyou have you looked into how to make test runners in general so we get the red/green/yellow dots for error/passed/failed test like the JUnit and RSpec test runners while the test is running?  If you haven't I'll have to add support for the test runners t

[2015-08-08 14:54] zyuyou commented on #183
Yes，I have looked into that. but I think I have no much time to do that, since I should find a new job at this month after  a short break.

[2015-08-08 16:58] KronicDeth commented on #183
It's no problem if you don't have time to work on it.  This is all volunteer work.  Just let me know if you volunteer to do something and you find out you don't have time to finish it so that I know to reassign it to myself.

[2015-08-10 01:30] #84 closed

[2015-08-10 01:32] KronicDeth commented on #80
#167 only supplied Mix Configurations, so this should remain open for `iex` console sessions, `elixir` runs , and exrm support.

[2015-08-11 19:52] KronicDeth opened #185 "Add helpset for plugin"
[`plugin.xml` supports a `<helpset/>`](http://www.jetbrains.org/intellij/sdk/docs/basics/plugin_structure/plugin_configuration_file.html) for Java Help to integrate plugin help into the IntelliJ help.  Convert the README to Java Help format and ship it.

[2015-08-12 01:58] KronicDeth opened #186 "Use FileViewProvider to handle eex"
FileViewProviders are [documented](http://www.jetbrains.org/intellij/sdk/docs/basics/architectural_overview/file_view_providers.html) as being used to support languages embedded in each other and html.eex is Elixir embedded in HTML, so a FileViewProvider might be a way to support eex templates for Phoenix

[2015-08-13 08:05] supersasha commented on #179
Can you separate such macros identifiers like `def`, `defp`, `defmodule`, `defmacro`, `if`, `case` etc. by just enumerating and hard-code them? I mean not using AST, just dummy comparison of identifiers (produced with AST) with the list of keywords. It is very hard to read code where such key macro identifiers not separated from the rest of identifiers. Later you'll still be able to change this so

[2015-08-13 17:10] trungpham commented on #153
like

[2015-08-13 17:11] trungpham commented on #96
like

[2015-08-21 13:02] KronicDeth commented on #179
@supersasha I'm going to make an Annotator that covers the standard library macros like `def`, `alias`, and `defmacro` and a separate Annotator for ExUnit since Rubymine has a special annotator for the testing DSLs like `it` and `should` in RSpec.

[2015-08-27 15:30] fukaoi commented on #153
Good

[2015-08-28 12:32] vol0da opened #189 "Suggestion: Integration with Alchemist Server"
This is just a suggestion to consider an integration with [Alchemist server](https://github.com/tonini/alchemist-server).

It provides auto completion, documentation lookup, definition lookup and many more.

It's also used in [alchemist.el](https://github.com/tonini/alchemist.el) which provides a very good Elixir integrations for Emacs.

[2015-09-07 19:56] KronicDeth commented on #189
I am aware of Alchemist and Alchemist server.  Supplying the needed scope information to send a request to Alchemist server isn't far from from just using the PsiReference API that JetBrains' SDK already supplies, which is the next feature I am working on already.  Using JetBrains' native API also has the benefit of you as a user can kill the background job if the indexing is slowing you down.  I

[2015-09-13 22:05] chrisatcodedmarkets opened #190 "Elixir SDK not found on OSX Yosemite with Intellij 14"
Given:
- Plugin installed
- Elixir installed via Brew
- 'which elixir' returns '/usr/local/bin/elixir'
- 'elixir --version' returns 'Elixir 1.0.5'

When:
- New Elixir project in Intellij with Bash Support and SQL Support

Then:
- Project SDK dialog says 'Nothing to Show'

---

Workaround:
- Create symlink to elixir: ln -s /usr/local/Cellar/elixir/1.0.5 elixir-1.0.5 (reason for the symlink is that

[2015-09-14 02:42] KronicDeth commented on #190
Thanks you, this is a very nice bug report.  My directory structure appears the same as yours.  What are the permissions on `/usr/local/Cellar/1.0.5`?  Mine (`ls -la /usr/local/Cellar/elixir`) are

[code]

[2015-09-14 03:06] chrisatcodedmarkets commented on #190
No problem. Thanks for the plugin! Here are my perms:

[code]
[code]

[2015-09-14 23:53] KronicDeth commented on #190
I recall sometimes IntelliJ and Websphere can't see my home directory in the Open Project dialog.  I'm wondering if it's a general JetBrains' API level bug and not just my plugin since I'm not see any reason your setup is different from my setup and mine works except for the weird hiccups when sometimes directories don't show up in the picker.

[2015-09-14 23:54] KronicDeth commented on #190
If you don't use the work-around can you reliably reproduce the bug?

[2015-09-15 01:06] zyuyou commented on #190
I had try `New Elixir project in Intellij with Bash Support and SQL Support` on Ubuntu, also with symlink, but it works fine. I will try it on my mac tonight.

[2015-09-17 00:43] gsriniv1 opened #191 "The error message "Valid pattern for Elixir module is dot sequences of aliases [regex]" would be better in human language, for instance, "Elixir module name should be a dot-sequence of alphanumerics aliases, each starting with a capital letter"."
I am a newbie. Cannot even create a hello world!

When I create File / New elixir file, whatever I type, it says not a valid module name.

for example i used the file name hello.world.exs - and it is not acceptable.  I can't make out why the file name  does not match the regexp displayed.

Please help. thanks, siren

[2015-09-17 03:46] KronicDeth commented on #191
The New Elixir file expects an Alias for the Module name, so you want to enter the name as `Hello.World` if you want a file called `hello/world.ex` that compiles to `Hello.World.beam`.

`hello.world.exs` doesn't really follow the naming convention adopted by the Elixir community.  The `.` in a Module Alias is usually converted to a directory level on the file system for the .ex or .exs file and on

[2015-09-17 21:53] gsriniv1 commented on #191
Thanks a bunch. I got thru that hurdle. If I may impose on you for the next step - of actually running the program:

I get this error message when I try to run this:

/Users/srini/elixir-1.0.5/bin/elixir "" world.ex
No file named

The contents of world.ex are trivial - one line IO.puts("Hello")

PS - Please note the location of the elixir - this is the soft link technique I learnt from one of the

[2015-09-19 18:39] KronicDeth commented on #191
Why do you have the empty string, `""` before the file name?

[2015-10-03 09:53] RajaSrinivasan commented on #191
I did not add that. I don't know.

I am a little more elixir literate now. I am revisiting IntelliJ as the IDE for elixir (instead of TextWrangler and Terminal).

Now, I am able to create projects, import mix projects. Still the editor does not appear language sensitive. When I go to default settings, I don't seem to have an option for Elixir under "Editor\Code style". Am I missing some other sett

[2015-10-06 01:41] KronicDeth commented on #191
Code Style is a feature of IntelliJ plugins, but it doesn't just happen when the lexer and parser are written.  Code Style doesn't exist for Intellij Elixir yet.

There is syntax highlighting and the parser will mark invalid code with errors using the red squiggle underline.

Code formatter is already in the backlog as #98 and the Code Style settings you're looking for are already in the backlog a

[2015-10-14 15:42] rogeralsing opened #192 "Mix UnicodeConversionError ?"
This might be me who just doesnt know what Im doing, but I'm getting the following error when compliling on Windows:

[code]

[2015-10-15 00:52] KronicDeth commented on #192
Those are exceptions from elixir itself, not from the IDE or this plugin.  Why do you think this is a bug with the plugin?  Does the code run outside the IDE, but only give this error when run from the IDE?

[2015-10-15 13:18] rogeralsing commented on #192
What I have done is to:
Install the Elixir plugin
Create a new Elixir project
Added a new elixir file (I have tried all of the different file templates, empty, application etc)
When trying to start this, the above is the exception that I am seeing,

Since all of the files was created via the plugin as far as I understand, thus I assume there is some problem in the plugin not setting things up corr

[2015-10-15 16:54] zyuyou commented on #192
@rogeralsing how did you exec the command? and can you show the elixir file's content? I think it would be helpful for checking the plugin.

[2015-10-19 00:29] Havvy opened #193 "Does this work on Community Edition?"
I read through the readme and tried to find out if this works with the community edition of IntelliJ IDEA. I couldn't find the answer, so I'm reluctant to try it out.

The readme should say whether it works on community edition or not.

[2015-10-19 00:48] KronicDeth commented on #193
Yes, it works on community edition.  I actually develop it on community
edition most of the time.  I'll add it to the README.

Someone at ElixirConf didn't realize that the plugin and Community Edition
are free, so it's a point worth emphasizing.
On Oct 18, 2015 7:29 PM, "Ryan Scheel" <notifications@github.com> wrote:

[2015-10-19 04:48] Havvy opened #194 "SDK Paths on Nix / NixOS"
Nix is a package manager for declarative package management.

The location for Elixir SDKs  with Nix or NixOS is `/nix/store/<hash>-elixir-<version>/`. For example, for Elixir v1.1.1, the store location is `/nix/store/408lfdw0l4fzds3mkzp57gwfpgpq0w5h-elixir-1.1.1/`.

[2015-10-20 11:31] olivermt opened #195 "combined query macros and keyword lists gives error (false positive)"
`Repo.one((from r in Role, where: r.name == "admin", select: r.id), log: false)`

"Keywords appear before the end of the list. Move keywords after positional arguments."

[2015-10-20 13:26] KronicDeth commented on #195
It probably has nothing to do with it being a macro: the parser doesn't different between macros and function calls.  At the syntactic level, macros and functions are identical.  It only differentiates between whether the function calls has parentheses or not or whether it has a do block or not. (Only macros can have do blocks, but that doesn't apply here.)

This is a bug in [this anonymous class]

[2015-10-21 14:46] Havvy opened #196 "ElixirFlexLexer could not match input on "~m{""
Whenever I type `~m{` (I have ShortMaps imported that provides this sigil)

[code]

[2015-11-04 04:04] #92 closed

[2015-11-04 21:45] leiyangyou opened #199 "version 1.2.0 breaks rename feature"
With the exception

 IllegalStateException: @NotNull method org/elixir_lang/FindUsagesProvider.getDescriptiveName must not return null

[2015-11-04 23:54] chris-martin commented on #199
Same thing when trying to delete an elixir file.

[code]

[2015-11-05 00:23] KronicDeth commented on #199
I guess FindUsageProvider is used everywhere to supply human-readable names.  Good thing I used `@NotNull` and default `null` return so I could catch all these uses I didn't know about.

I probably should open a PR against [Jetbrains/intellij-community](https://github.com/JetBrains/intellij-community) to add to the javadocs for [`com.intellij.lang.findUsages.FindUsagesProvider`](https://github.com

[2015-11-05 00:28] KronicDeth commented on #141
This looks implemented by #188, which has been released in [v1.2.0](https://github.com/KronicDeth/intellij-elixir/releases/tag/v1.2.0) today.  Let me know if it doesn't fix this issue for you and I'll reopen.

[2015-11-05 00:28] #141 closed

[2015-11-05 17:07] #199 closed

[2015-11-05 17:31] #193 closed

[2015-11-06 03:26] KronicDeth commented on #196
Testing lexing `~m{` I get the `{` tokenizes as `ElixirTypes.SIGIL_PROMOTER` correctly, but instead of transitioning to `ElixirFlexLexer.GROUP` (32) it goes back to `ElixirFlexLexer.YYINITIAL` (0).

I'll post more when I've debugged the transitions.

[2015-11-06 03:38] KronicDeth commented on #196
Nope, that was just a test error that I was checking the final state was `ElixirFlexLexer.YYINITIAL` instead of `ElixirFlexLexer.GROUP` because of the test file I copied, so the lexer can lex `~m{` correctly.  This might be some odd interaction with the error recovery in the parser since the parser in some cases resets the lexer, but the stack I use to track interpolation isn't reset in that metho

[2015-11-06 03:47] KronicDeth commented on #196
Having ShortMaps imported doesn't affect anything in the plugin.  It's not import aware yet.  All letters in a-z and A-Z are accepted as sigil names by the lexer and parser.

Typing just `~m{` at the beginning of a file doesn't trigger the `could not match error`, so it must be some interaction between `~m{` and the other text in the file.  Do you have the full text of the file where there was no

[2015-11-06 05:31] Havvy commented on #196
Alright, the `m` is a misnomer. I get the error with the following code block. Remove and re-add the `~` if you don't get it.

[code]

[2015-11-07 04:31] KronicDeth commented on #196
[code]

to

[code]

**does not** trigger the error, but

[code]

to

[code]

**does** trigger the error

[2015-11-07 04:41] KronicDeth commented on #196
I have a test that triggers the bug in 79e6636:

| Text | Token                    | New State                  | Match Error |
|------|--------------------------|----------------------------|-------------|
| def  | IDENTIFIER               | CALL_OR_KEYWORD_PAIR_MAYBE | No          |
| ' '  | WHITE_SPACE              | YYINITIAL                  | No          |
| f    | IDENTIFIER               |

[2015-11-07 04:54] #196 closed

[2015-11-07 18:06] KamilLelonek opened #203 "No file named error"
I configured Intellij with Elixir plugin as described in `README.md`.

I'm using OS X and brew-installed Elixir (`/usr/local/Cellar/elixir/1.1.1/bin/elixir`).

When I run test configuration I get:

![image](https://cloud.githubusercontent.com/assets/3199333/11016461/9a5db6be-853f-11e5-8942-000a77d0d037.png)

Everything is done as described in manual.

[2015-11-07 18:09] KronicDeth commented on #203
@zyuyou, any ideas?

[2015-11-07 20:42] #195 closed

[2015-11-08 12:25] Havvy opened #205 "New Elixir Module Kind: Elixir Struct"
Because they are a kind of module, it'd be nice to see them in the new module kind list.

[2015-11-09 01:57] zyuyou commented on #203
@KamilLelonek can you show the run configuration?

[2015-11-09 02:08] zyuyou commented on #205
There are no fixed code like `use GenServer` or `use Supervisor` with Elixir Struct.

[2015-11-09 10:52] davidcotter commented on #203
I have this issue too if you would like any info

On Mon, Nov 9, 2015 at 1:57 AM, Yuyou Chow <notifications@github.com> wrote:

[2015-11-11 14:30] zyuyou commented on #203
@KamilLelonek @davidcotter the Elixir plugin only support `Mix` runconfigure which based on the `Elixir`'s mix executable tool by far. so  running test configuration should ensure that the project is a `mix-project` which can be created by command `mix new [app_name]`

I will try to make it support `ExUnit` if I have free time to work for it.

[2015-11-11 16:49] KamilLelonek commented on #203
The issue happened during "Import project from external model". I did it once again, selecting `external model` instead of `existing sources` and it works.

[2015-11-11 16:49] #203 closed

[2015-11-16 17:23] Theemuts opened #208 "Pressing return inside a comment can crash Java"
I was editing one of my comments in an elixir source file, and if I pressed return to split the lines Java started to use 103% of my CPU. The error didn't occur if I only edited the text in the comment, or pressed return on the line of code after the comment.

[2015-11-17 16:12] Theemuts commented on #208
IDEA was unresponsive for half a minute when I tried to break the comment

    # Only activated users can have contacts, if not activated a user has requested one of their own ci's

at ci's. Removing the apostrophe solves that slowdown. The slowdown becomes noticeable again when I try to break the line at has. If I try to break it at at a, IDEA is unresponsive for about 20 seconds.

[2015-11-22 04:14] KronicDeth opened #209 "Sigil escape sequences are promoter/terminator-sensitive"
Whether `\<character>` is parsed as two characters or one depends on whether the `<character>` is a terminator for the current group.

# Examples

| Code     | Code.string_to_quoted!                                     | Matches Terminator | Characters |
|----------|------------------------------------------------------------|--------------------|------------|
| `~r/\//` | `{:sigil_r, [line: 1], [

[2015-11-22 17:10] KronicDeth opened #210 "Update tests to Elixir 1.1.1"
The test setup is still on Elixir 1.0.5 on OSX and 1.0.2 on travis-ci, but in homebrew I have Elixir 1.1.1 installed, so I see test failures for Elixir 1.1 changes that don't show up on travis-ci.  All the test environments should be update toe Elixir 1.1.1.

- [x] Remove `^^^` as a separate precedence level to match [elixir-lang/elixir@d235533b45ce4d8fb8ba1c1c35cd9377e49929f1](https://github.com/

[2015-11-23 01:33] zyuyou commented on #210
I noticed that `intellij-erlang` had change their build-tool to the `gradle`, do you plan to use `gradle` in `intellij-elixir` too?

[2015-11-23 01:36] KronicDeth commented on #210
I'm using Ant because IntelliJ had an option in the menu to generate the Ant files from the project configuration automatically and after that it was pretty simple XML to understand to extend.  I couldn't use maven because it relies so strongly on the dependencies being available in an online repositories somewhere.  I never looked into gradle.

[2015-11-23 01:52] zyuyou commented on #210
OK, keep it simple is right!

[2015-11-25 18:00] #205 closed

[2015-11-25 18:02] Havvy opened #211 "Warn about missing @behaviour callbacks"
I'm using my own behaviours a lot in my code, and it'd be useful if I was told when I'm not implementing a specific function from that behaviour when I'm looking at a module that is supposed to implement it.

[2015-11-26 03:07] zyuyou commented on #211
Good idea！👍

[2015-11-26 09:48] Havvy opened #212 "New Elixir Module Kind: ExUnit Test"
1. Has a default passing test inside of it.
2. Makes sure the file ends with "_test.exs"

That's about it.

[2015-11-26 10:04] Havvy opened #213 "Warn when module contains function of same name but different arity of behaviour callback"
This may or may not be out of scope of this project and possibly in scope for `credo`.

But in case it is, filing here.

Example:

[code]

Should give a warning on the handle_call that it's probably missing a third parameter.

[2015-12-01 11:09] Havvy opened #214 "Creating new Elixir file that already exists throws error"
Basically, there's no UI handling of the case of trying to make a file that already exists, and IDEA's general error handler complains.

A bug, but not really a big deal.

[2015-12-01 11:10] Havvy commented on #210
This issue should probably be closed.

[2015-12-01 14:44] KronicDeth commented on #210
Tests are still failing, but only on Travis-CI (https://travis-ci.org/KronicDeth/intellij-elixir/builds/94087022).  I might have to convert the build over to CircleCI just so I can SSH into the CI server to determine what's different and if that difference is a Linux (CI) vs OSX (local) problem.

[2015-12-02 02:56] KronicDeth commented on #210
I can reproduce the failures locally on OSX when running the ant build instead of the "org.elixir_lang" JUnit Run Configuration in IntelliJ, so there's been some drift between the ant build and the Run configuration + local environment setup.

[2015-12-02 04:14] Havvy opened #215 "Refactor: Rename Module"
I would like to first apologize for the high number of enhancement requests that I have absolutely no clue how to help with, nor the ability to donate even a meager amount of cash your way for your hard work. If I get some money from my project, I'll definitely toss a portion of it your way.

---

I would like to right click on the module's atom in a `defmodule` and have a refactoring to rename th

[2015-12-02 20:26] KronicDeth opened #216 "Allow environment variables to be set for Mix Run Configuration"
`mix test` and other mix task need to be able to have environment variables to set.  The Run Configurations for Rubymine and IntelliJ have this, so there might be a reusable UI component to add this.

[2015-12-05 22:51] KronicDeth opened #217 "Add support for `x.{y, z, w}` expression"
Port https://github.com/elixir-lang/elixir/commit/a5a29dc47b6f486853eb92adee1281d26df14ccc

[2015-12-05 22:53] KronicDeth opened #218 "Throw an error for -> with an empty right-hand side"
Port https://github.com/elixir-lang/elixir/commit/e4db37c1b0c030085b2a03f991fb103590eedbf7

[2015-12-06 04:08] #210 closed

[2015-12-06 04:21] KronicDeth commented on #209
Fixed in #219 by 68111a9 and 1161fdb

[2015-12-06 04:26] #209 closed

[2015-12-06 04:31] KronicDeth commented on #208
It must have something do with the rest of the file.  I can't reproduce the bug locally when hitting enter immediately before "ci's".

[2015-12-06 11:25] f-lombardo commented on #182
I tried to import a mix project setting the above (correct) path, but the import wizard seems not to see mix.   Is it due to the fact that the mix "executable" is mix.bat instead of mix? I use Elixir 1.1.0 intellij idea 15.0.1 and the 1.2.1 version of the plugin.
Thanks
![mix](https://cloud.githubusercontent.com/assets/280709/11613072/1cef4a8a-9c14-11e5-9f56-aaace52bbd12.PNG)

[2015-12-08 02:17] mathiasose commented on #208
I'm also noticing this issue.
On https://github.com/mathiasose/advent2015/blob/master/advent/A01.exs for example, I got a freeze when trying to replace the space after the comma on line 10 with a linebreak.

[2015-12-08 14:52] zyuyou commented on #182
@f-lombardo You are right, the mix "executable" is mix.bat on Windows. Maybe you need to set the `mix.bat` path manually.

[2015-12-08 17:52] 8822 commented on #203
I'm getting the same error.  Any workarounds?

[2015-12-13 05:02] cdegroot commented on #182
Can confirm both the default path (on Win10 too) and the fact that you can't get beyond the step that @f-lombardo posted. I tried a handful of variations (point to the Elixir dir, to bin/, to bin/mix, bin/mix.bat, even lib/mix), to no avail. Version stays on N/A and Next button doesn't work.

[2015-12-13 10:02] f-lombardo commented on #182
A simple work around is changing mix.bat this way
`@echo off
rem if "%1"=="--version" echo Mix 1.1.1
call "%~dp0\elixir.bat" -e Mix.start -e Mix.CLI.main %*`

[2015-12-13 11:59] zyuyou commented on #182
@cdegroot this problem will be fixed in the #220

[2015-12-14 13:08] cdegroot commented on #182
@zyuyou That's great news. I'm not developing often on Windows, but yell if I need to test/verify stuff.

[2015-12-16 17:20] tylerhc commented on #132
This would help massively and was what I was coming to the issues section to verify someone had raised the request

[2015-12-20 23:01] lrhazi commented on #190
I have same issue (using El Capitan)... IntelliJ (15.0.2) says the SDK it found in (/usr/local/Cellar/elixir/1.1.1) maybe corrupt. It says "Unknown Elixir version".

[code]

Where is this symlink created at?

[2015-12-21 00:34] KronicDeth commented on #190
@lrhazi, it's a standard terminal command to create a symlink in the current directory.  So, just run it when the current working directory is a directory that IntelliJ can see, such as your home directory, which should be the default directory when opening Terminal or iTerm.

[2015-12-22 10:49] conradwt opened #222 "Mix Project Creation"
Hi, are there plans to add support for creating an Elixir project using Mix?

[2015-12-23 03:41] KronicDeth commented on #222
This is already an open feature request as part of #22.  Please go subscribe to notifications on that issue.

[2015-12-23 03:41] #222 closed

[2015-12-26 06:52] dolphineor opened #224 "Intellij IDEA can not find Mix version"
@KronicDeth Hi, I want to use elixir in IDEA, but I run into some trouble,
![elixir](https://cloud.githubusercontent.com/assets/9883493/12005419/9bb42414-abdf-11e5-95ec-dd48c2aca661.png)

the version of IDEA is 15.0.2, I've installed Elixir successfully, it always shows N/A. Is there something wrong with me? Thanks in advance.

[2015-12-26 07:07] zyuyou commented on #224
will be fixed by #220 ! thank you

[2015-12-26 07:17] dolphineor commented on #224
I'm looking forward to it. Thanks.

[2015-12-26 15:29] #132 closed

[2015-12-27 17:42] KronicDeth commented on #212
@Havvy, can you explain the full use case?  I'm just wondering if what you actually want is the Go To Test functionality that Rubymine has for specs and if your actual use case is if Go To Test doesn't work, it prompts to create a test file for the current module?  I can do the template form first, but I want to know if I should be able to infer the test module name from the module under test as a

[2015-12-27 17:44] KronicDeth commented on #208
Thanks for the full example @mathiasose

[2015-12-27 18:15] KronicDeth commented on #208
Pausing the debugger after hitting enter on line 9, shows the parser running during the freeze.  Maybe it's the automatic errors recovery that's built into JetBrains API trying to make `given the same instructions, find the position of the first character that causes him to enter the basement (floor -1).` parse.  I'm going to attempt to shrink the test case to see if that makes the recovery sooner

[2015-12-29 22:13] #208 closed

[2015-12-29 22:33] #224 closed

[2015-12-31 20:39] revati commented on #153
Are there any updates on this? When could this happen?

[2015-12-31 22:44] hipertracker commented on #186
Will it be added to intellij-elixir? *.eex is the default template extension for Phoenix

[2015-12-31 23:16] KronicDeth commented on #186
If an issue is open, the feature will be implemented eventually.  I keep the issues very well groomed.  If I wasn't going to implement something the issue would be closed with an explanation.

[2016-01-01 02:27] KronicDeth commented on #153
It is unlikely that I will use external autocomplete scripts if possible.  I prefer to use the JetBrains APIs as they handle the cached indexing automatically.  I may use autocomplete-elixir or the alchemist-server (see #189) for completion for compiled .beam files, but for places where I have the original Elixir source, like the project itself or the deps sources, I will endeavor to use the JetBr

[2016-01-01 07:39] revati commented on #153
Thanks for fast reply. Will wait for 2.0.0 than.

[2016-01-04 13:26] KronicDeth opened #229 "Stacktrace linker is going to wrong file"
If there are multiple files with the same basename (e.g. `lib/api/relationship.ex` and `deps/ja_serializer/lib/ja_serializer/formatter/relationship.ex`), then the wrong file can be linked sometimes.

[2016-01-05 14:38] NobbZ opened #230 "Creating new elixir application file does throw `NoSuchMethodError`"
I tried to create an application file and intellij threw the following at me:

[code]

[2016-01-05 14:40] NobbZ commented on #230
Just tried other Module-Types, I do get similar traces.

[2016-01-06 10:15] swennemans opened #232 "Elixir 1.2 - Cannot Detect SDK Version"
I've updated from Elixir 1.1.1 to 1.2 and cannot set the Project SDK anymore.

I've tried installing Elixir with:
* Homebrew
* MacPorts
* Git Clone

All result in the same error:
![image](https://cloud.githubusercontent.com/assets/7531154/12140244/a385a1b0-b466-11e5-8096-2ee652a1f0eb.png)

If you need any more info please let me know :)

[2016-01-06 10:26] swennemans commented on #232
BTW: If someones has the same problem, you can always install Elixir 1.1.1 with homebrew with:
`brew install https://raw.githubusercontent.com/Homebrew/homebrew/373f8bfba76070d701a9796be11e8f280e465aa7/Library/Formula/elixir.rb`

[2016-01-06 22:11] #90 closed

[2016-01-07 01:56] gmack commented on #232
Same issue for me. I get the error on both RubyMine or IntelliJ. FWIW, I build my own Elixir 1.2 from a git clone.

[2016-01-07 07:56] net commented on #232
+1

[2016-01-07 10:22] se77en commented on #232
Same issue for me. I upgrade elixir use Homebrew.

[2016-01-07 14:56] pcmarks commented on #232
Same problem: "Probably SDK  is corrupt" for Elixir 1.2 on WIndows 7 using IntelliJ 14

[2016-01-07 16:38] bitgamma commented on #232
The output of the `elixir -v` command is

[code]

I think in earlier versions of Elixir only the last line was present in the output and parsing of the version fails (at least that was my impression by a quick analysis of the code). I will try to submit a PR soon making the parsing more flexible if it's OK for @KronicDeth.

[2016-01-07 16:45] KronicDeth commented on #232
That works for me @bitgamma.  Just make sure your PR works for both < 1.2 and >= 1.2 for those that haven't upgraded yet too.

[2016-01-07 22:03] robertsosinski commented on #232
+1

[2016-01-08 15:28] weppos opened #234 "JetBrains Plugin Repository still advertises v2.0.0-pre"
I read the [2.0 announcement here](https://groups.google.com/forum/#!topic/elixir-lang-talk/bMZN50zHiFw), but I noticed the IntellijIdea repo still advertises the 2.0.0-pre as the latest available release.

Are they the same release?

![screen shot 2016-01-08 at 16 28 13](https://cloud.githubusercontent.com/assets/5387/12201458/d6087f44-b624-11e5-8385-13089e42a79f.png)

[2016-01-08 15:37] KronicDeth commented on #234
Crap, I forgot to remove [the -pre in the plugin.xml](https://github.com/KronicDeth/intellij-elixir/blob/master/src/META-INF/plugin.xml#L4).  Yeah, it is the right version, but I really should push up a fixed version.

[2016-01-09 04:35] KronicDeth opened #235 "Add support for \u for codepoint escapes"
Port https://github.com/elixir-lang/elixir/commit/3327854653c122d39e0e340caa3b0d872f7d2835, which was released in Elixir 1.1.0

[2016-01-10 02:27] #235 closed

[2016-01-10 18:21] KronicDeth commented on #232
Reproduced bug on OSX prior to testing #233.

[2016-01-10 18:48] daemonfire300 commented on #232
Is there going to be a 2.0.1 Release for this, or is there are possibility to build the Plugin myself so that I can use Elixir 1.2.0 right now?

[2016-01-10 19:05] #232 closed

[2016-01-10 19:54] KronicDeth commented on #234
Removed the -pre for v2.1.0

![screen shot 2016-01-10 at 1 53 13 pm](https://cloud.githubusercontent.com/assets/298259/12223595/92423e5c-b7a1-11e5-9857-9bc6911de9fc.png)

Credited you in [the release announcement on elixir-lang-talk](https://groups.google.com/forum/#!topic/elixir-lang-talk/nAC-0UBOtp8).  Thanks.

[2016-01-10 19:54] #234 closed

[2016-01-10 19:57] KronicDeth commented on #232
@daemonfire300 no 2.0.1, I [just released 2.1.0](https://twitter.com/KronicDeth/status/686274404708298752) instead as it contains more Elixir 1.2 compatibility fixes than the SDK support (the build actually tests against 1.1.1 and 1.2.0 now on travis-ci and the lexer/parser supports `\u` in strings/char lists.)

[2016-01-13 01:33] pcmarks commented on #230
I get the same error when creating an Empty Module after having created an Elixir Application - not mix based. IntelliJ 14.03, Plugin: 2.10

[2016-01-14 08:32] cjuexuan opened #238 "select SDK"
I install elixir with apt-get on ubuntu ,but how can I select the SDK,it doesn't work

[2016-01-17 23:04] KronicDeth commented on #238
I need a more thorough explanation of the steps you're doing in the IDE:
* Which steps are you following?
* Which step does it fail?
* Do you get an error message?

[2016-01-18 00:48] cjuexuan commented on #238
yeah ,when I  want to create the project ,
on step 4 ,like ![step4](http://7xnz7j.com1.z0.glb.clouddn.com/elixir.png),but when I click configure and select the sdk ,I find my elixir in `/usr/lib/elixir/bin`,but when I choose it ,ide report me that 'The selected directory is not a valid home  for Elixir SDK',it doesn't work

[2016-01-18 00:53] cjuexuan commented on #238
select like:![select](http://7xnz7j.com1.z0.glb.clouddn.com/select.png)

error like :![error](http://7xnz7j.com1.z0.glb.clouddn.com/error.png)

when I run tree ,the pic is:![tree](http://7xnz7j.com1.z0.glb.clouddn.com/tree.png)

[2016-01-18 02:23] zyuyou commented on #238
@cjuexuan the sdk path is `/usr/lib/elixir`, not `/usr/lib/elixir/bin`.

[2016-01-18 02:41] cjuexuan commented on #238
when I try the way like you tell,ide report `Probadly SDK  installed in /usr/lib/elixir is corrupt`,and my elixir  version is `1.1.0-dev`,idea version is `15.02`

[2016-01-18 03:33] KronicDeth commented on #238
This could either be another difference with how `elixir --version` and `mix --version` is formatted, or you're not using the latest version of IntelliJ Elixir, which has some fixes for the `--version` parsing.  Are you on version 2.1.0 of the plugin?

[2016-01-18 04:36] cjuexuan commented on #238
@KronicDeth  my elixir version is `1.1.0-dev` ,my plugin version is `2.1.0`,my idea version is `15.02`,mix version same as elixir

[2016-01-19 01:54] zyuyou commented on #238
@cjuexuan review the #220 , show the result of command `elixir --version` and `mix --version`

[2016-01-20 01:13] cjuexuan commented on #238
@zyuyou @KronicDeth  ![version](http://7xnz7j.com1.z0.glb.clouddn.com/version.png)

[2016-01-20 04:29] zyuyou commented on #238
It seems that `1.1.0-dev` did not match the version-regexp,  use the released version, `Elixir-1.1.0` or `Elixir-1.2.0`  instead.

[2016-01-20 04:32] cjuexuan commented on #238
@zyuyou yeah, so I will try install 1.2.0 without using apt-get later,but I think this is a bug with plugin,

[2016-01-20 04:35] cjuexuan commented on #238
@zyuyou yeah,I will install `1.1.0` without using `apt-get` later

[2016-01-20 06:09] zyuyou commented on #238
@cjuexuan I recommend using use [kiex](https://github.com/taylor/kiex)

[2016-01-20 06:12] cjuexuan commented on #238
@zyuyou  thanks

[2016-01-22 12:31] olivermt opened #239 "copy pasting acts weird"
Lets say we have this function:

[code]
    conn
    |> json(%{ data: %{mail: username}})```

and copy paste it on the line below, with the caret at the same indentation level it ends up as:
[code]

As if the editor does not recognize the code style or something similar.

I saw that #98 is supposedly done, but if I do `def foo() do <enter>` I dont end up two spaces in, but on the same level as the

[2016-01-22 15:11] KronicDeth commented on #239
I'm not sure why you would think #98 is done.  If it was done the issue would be marked Closed with a merged PR not Open as it is now.  It's still open, so this is a duplicate of that and not a bug.  The feature does not exist yet.

[2016-01-22 15:11] #239 closed

[2016-01-22 15:12] olivermt commented on #239
Haha, I read "closed" in the issue, but that was issue #91!

No wonder it doesnt work.
Back to waiting :)

[2016-01-28 09:36] nenros commented on #186
Maybe we could make support for that task using gratipay or smth like that? It is most missing function for me!

[2016-02-05 08:04] DylanGriffith commented on #212
I'm not sure i understand the conversation on here but I also have a desire for the feature "New Elixir Module Kind: ExUnit Test"

Basically the problem I see it is that if I try to use the "New -> Elixir File" functionality right now I end up with a file that has a `.ex` extension and then I need to manually rename to `.exs`.

So ideally this functionality would simply be a new menu option in the

[2016-02-06 03:43] KronicDeth commented on #186
I opened a team application on Gratipay: https://gratipay.com/intellij-elixir/.  It says it make take up-to a week to be approved (https://github.com/gratipay/team-review/issues/155).

I also already had Paypal Donate setup.  It's linked at the bottom of the README.

[2016-02-12 14:50] PatinoBrian commented on #229
I'm having the same issue with a php project. Intellij opens up `conf.php` in a completely different folder even though `require_one('conf.php')` is directed towards the file in the same folder from where it's being called.

[2016-02-16 17:18] Wulpo opened #242 "Can't choose SDK (Idea, Windows, Elixir)"
I install elixir (elixir-websetup.exe  version 1.2.2) and when I want to choose SDK it will write a message:
"That selected directory is not valid home for Elixir SDK"

![sdkelixir](https://cloud.githubusercontent.com/assets/13139016/13084360/7675c568-d4d9-11e5-91a1-9f24fcbaedb8.png)

[2016-02-16 20:03] NobbZ commented on #242
The SDK lives in Elixir, not Elixir/bin

Wulpo <notifications@github.com> schrieb am Di., 16. Feb. 2016 18:18:

[2016-02-18 15:40] whit537 commented on #186
@nenros @KronicDeth Gratipay team approved! Welcome aboard! :-)

https://gratipay.com/intellij-elixir/

[2016-02-19 02:31] #100 closed

[2016-02-19 03:00] KronicDeth commented on #242
@NobbZ that issue is already known.  I already identified the problem (http://stackoverflow.com/a/35434464/470451) as the `Elixir` directory showing "Corrupted SDK", which usually means the version can't be parsed.

[2016-02-19 04:54] KronicDeth commented on #242
Hmm... now I can't repro the problem when debugging from a build off of master.

[2016-02-23 15:55] singalen commented on #191
Just ran into the same module name problem.
Could the plugin suggest the default name, or just not ask for it at all, if it's strictly determined by project folders?

[2016-02-24 01:03] KronicDeth commented on #191
@singalen there is no default name for modules; your request doesn't make sense.

[2016-02-24 11:20] singalen commented on #191
Let me rephrase it more clearly: figuring out that a module name should start with a capital is a problem for beginner who missed it.

The error message `"Valid pattern for Elixir module is dot sequences of aliases [regex]"` would be better in human language, for instance, "Elixir module name should be a dot-sequence of alphanumerics aliases, each starting with a capital letter".

[2016-02-25 04:07] KronicDeth commented on #97
Resolved by #243

[2016-02-25 04:07] #97 closed

[2016-02-25 05:57] #238 closed

[2016-03-01 22:21] wanderanimrod opened #247 "Commenting shortcut doesn't work."
Hello all,

The comment shortcut "CMD+/ " on mac is not working. That is, it doesn't introduce the "#" character at the beginning of highlighted lines.

Is anyone else experiencing this? I can look into adding the feature if it is indeed just a missing feature.

- Enjoying elixir!

[2016-03-01 23:27] KronicDeth commented on #247
It's not released yet.
On Mar 1, 2016 4:21 PM, "Nimrod Wandera" <notifications@github.com> wrote:

[2016-03-02 00:38] wanderanimrod commented on #247
Cool. I'll just wait then.

[2016-03-02 00:38] #247 closed

[2016-03-03 06:19] KronicDeth commented on #242
I can't reproduce the problem using the pre-release build of v2.2.0, so I'm closing it for now.

[2016-03-03 06:19] #242 closed

[2016-03-03 21:30] KronicDeth commented on #113
Opened question in OpenAPI forums: https://intellij-support.jetbrains.com/hc/en-us/community/posts/206527619-Implementing-Download-Sources-for-a-new-Language

[2016-03-04 03:31] KronicDeth commented on #242
@Wulpo can you verify that v2.2.0 that I just released works for you?

[2016-03-04 03:32] KronicDeth commented on #247
@wanderanimrod, v2.2.0 has been released with the commenter.  Update your plugin and you should be able to use it.

[2016-03-04 14:07] wanderanimrod commented on #247
I have already updated my plugin and I am delighted! Thanks for the good
work.

On Thu, 3 Mar 2016 at 22:32 Luke Imhoff <notifications@github.com> wrote:

--
Wandera Nimrod,
Software Developer
ThoughtWorks Inc,
New York, NY

[2016-03-07 14:16] KronicDeth opened #249 "Command portion of Elixir Mix run configuration not persisting past restart"
If I restart IntelliJ, the Elixir Mix Run configurations I made before the start still exist and have their Name filled in, but they completely lose the Command, so can't actually do the run.  The empty command shows up in the Run tool window as `""`: `/usr/local/Cellar/elixir/1.2.3/bin/elixir /usr/local/bin/mix ""`

Any ideas why the Command field isn't saving @zyuyou?

[2016-03-07 14:17] KronicDeth commented on #192
The `mix ""` portion may be related to #249

[2016-03-08 09:12] zyuyou commented on #249
Checking [MixRunConfigurationBase's writeExternal](https://github.com/KronicDeth/intellij-elixir/blob/master/src/org/elixir_lang/mix/runner/MixRunConfigurationBase.java#L62),  it should be `XmlSerializer.serializeInto(this, element)` .

[2016-03-08 09:16] zyuyou commented on #249
@KronicDeth My local code is too old, can you help me testing this?

[2016-03-09 00:25] VladShcherbin opened #250 "IntelliJ 2016.1 deprecates some color constants"
Code highlighting is broken, colors in settings (for example for `type`) are deprecated.

[code]

[2016-03-09 00:29] VladShcherbin commented on #250
Same with the previous version, probably settings were changed in EAP version.

[2016-03-09 13:55] KronicDeth commented on #250
Is there a deprecation warning in the UI?  Can you post a screenshot?  I've tried to target the oldest version of IDEA that I can for maximum compatibility, so I need to figure out what constants to use instead and how early they were introduced, so I can update the compatibility information.

[2016-03-09 13:59] VladShcherbin commented on #250
Yes, there is a ```__deprecated__``` word, 4 rules are with it

<img width="976" alt="screen shot 2016-03-09 at 4 56 28 pm" src="https://cloud.githubusercontent.com/assets/6711845/13637360/02ee725c-e618-11e5-8788-96f0c6c08f72.png">

[2016-03-10 20:28] wanderanimrod opened #251 "AssertionError in ElixirPsiImplUtil.operator(Infix) when error in infix operation"
<img width="945" alt="screen shot 2016-03-10 at 3 25 25 pm" src="https://cloud.githubusercontent.com/assets/3718698/13683408/83f7b9e6-e6d4-11e5-935c-b5a8780ae1d3.png">

The IDE doesn't allow me to submit the error, perhaps because the error message is null.

[2016-03-11 01:47] KronicDeth commented on #251
Do you have a code sample that triggered the error?  I can't off the top of my head think of how an operation would have a null operator.  Maybe how I handle guards for stab clauses like in anonymous functions?  Sample code would help a lot.

[2016-03-11 02:18] wanderanimrod commented on #251
<img width="867" alt="screen shot 2016-03-10 at 9 14 16 pm" src="https://cloud.githubusercontent.com/assets/3718698/13691224/18114b3a-e705-11e5-9614-cd098f05bbeb.png">

You notice there is a syntax error on the second line (an unclosed square bracket). Having the code looking like that raises the same error every time you change any other part of the file, without the IDE ever getting out of the "

[2016-03-11 02:43] KronicDeth commented on #249
@zyuyou yes, I'll attempt the change locally to test it out.

[2016-03-11 03:41] KronicDeth commented on #251
Maybe there's someway to detect when an element has a parse error and then turn off the higher-level functions like annotator.  I'll have to look through the available methods on all the interfaces.

[2016-03-11 04:27] wanderanimrod commented on #251
Alright. Thanks.

[2016-03-14 01:14] thirdshift commented on #250
First, thanks for making the plugin.

IntelliJ IU-IDEA 143.2287
Elixir Plugin 2.2.0

I'm not seeing the deprecations that Vlad is seeing, but it looks like some color settings are being ignored. This screen shot is using an unmodified Darcula theme.

![image](https://cloud.githubusercontent.com/assets/14865/13732814/5247bec6-e960-11e5-82a1-89eee125aae9.png)

[2016-03-14 01:37] KronicDeth commented on #250
@thirdshift, it works for you because you're using IDEA 143.*, @VladShcherbin is reporting that in 145.*, which is the EAP, or Early Access Preview, of the upcoming release, the colors constants I'm using are deprecated, so it's like a heads up that the plugin will break when the next version of IntelliJ is released.

Your screenshot doesn't have any Type elements in it, so I wouldn't expect you t

[2016-03-14 01:57] thirdshift commented on #250
From my original screenshot I was thinking things like "def" and "import" would be colored in some way. So I came looking at the issues and likely mistakenly added to this one. I can see in your screenshot that "def" and "defmacrop" are not colored either. So I am guessing that must be functioning as designed.

[2016-03-14 02:18] KronicDeth commented on #250
@thirdshift `def` and `defmacrop` use the `Kernel Macros` color, which inherit from the `Identifiers -> Function call` of Language Defaults.  In Dracula `Identifiers -> Function call` has no colors or style associated with it.  I didn't use the Keyword color from Language Defaults because developers shouldn't start thinking of the Kernel macros like `def` and `defmacro` as Elixir keywords.  Elixir

[2016-03-14 02:20] KronicDeth opened #252 "Keyword color doesn't have a setting in Colors & Font"
See https://github.com/KronicDeth/intellij-elixir/issues/250#issuecomment-196110370

Elixir has real keywords like else, after, do and end, which use the Keyword color.  There is no override for the Keyword color in the Elixir settings, it can only inherit from the Language default.

[2016-03-14 02:31] thirdshift commented on #250
Thanks for taking the time to explain that to me.

[2016-03-14 12:12] antani opened #253 "Compilation on already created Mix project fails"
From the elixir tutorial, I created a new project with-

    mix new elixir_tutorial

I imported this project in to IntelliJ IDEA 14CE (with plugin installed), selected Elixir 1.2.1 as the SDK. When I click on Run, I get following error.

    Information:14/03/16, 5:35 PM - Compilation completed with 2 errors and 0 warnings in 1s 712ms
    Error:mix: String.to_char_list/1
    Error:mix: Code.requi

[2016-03-14 12:17] KronicDeth commented on #253
1) Which operating system?
2) Did you import as a Mix project?

[2016-03-14 12:25] antani commented on #253
I am on OSX El Capitan- 10.11.3
Yes, I imported the mix project

[2016-03-15 15:10] KronicDeth commented on #253
You said you clicked on ![Run](https://raw.githubusercontent.com/JetBrains/intellij-community/master/platform/icons/src/general/run.png) Run, which implies you're using a Run configuration.  What's the settings in that configuration?  The Name shouldn't matter, but the Command might.

[2016-03-15 16:42] antani commented on #253
http://imgur.com/kZYxT2h

[2016-03-15 16:51] KronicDeth commented on #253
`Gauge Execution` Run Configuration don't come from IntelliJ Elixir.  That comes from the the [Gauge plugin](https://plugins.jetbrains.com/plugin/7535).   Do you have anything under the `Elixir Mix` part of the tree?

[2016-03-15 16:53] antani commented on #253
Created an Elixir Mix run configuration - http://imgur.com/8SxHXR8
Error:

    /Users/8288/source_code/elixir_tutorial/elixir-1.2.1/bin/elixir /Users/8288/Downloads/mix run
       ** (UnicodeConversionError) invalid encoding starting at <<150, 14, 161, 70, 186, 65, 5, 62, 50, 11, 0, 0, 12, 14, 0, 0, 16, 0, 0, 0, 109, 105, 120, 95, 101, 115, 99, 114, 105, 112, 116, 46, 98, 101, 97, 109, 125, 86, 9,

[2016-03-15 16:58] KronicDeth commented on #253
Ah, the infamous and unexplainable `UnicodeConversionError`.  Looks like this is a duplicate of #192 then.  I'm closing this issue, and we can continue talking on #192.

[2016-03-15 16:58] #253 closed

[2016-03-15 17:04] KronicDeth commented on #192
[Posted](https://groups.google.com/forum/#!topic/elixir-lang-talk/W2HrrZ7VMcM) to [elixir-lang-talk](https://groups.google.com/forum/#!forum/elixir-lang-talk) to see if anyone has fixed `UnicodeConversionError` elsewhere

[2016-03-15 17:06] antani commented on #192
The content of Elixir file:

    defmodule Hello do
      @moduledoc false
      IO.puts "Hello World"
    end

[2016-03-15 17:46] KronicDeth commented on #192
@antani what is the value of the following variables in the shell where `mix` works?

* `LANG`
* `LANGUAGE`
* `LC_CTYPE`
* `LC_ALL`

Maybe IntellIJ doesn't have the same locale/language environment variables to pass to the runner process, so it is misinterpreting the on-disk encoding and trying to convert when it shouldn't.

[2016-03-15 18:36] antani commented on #192
» echo $LANG
    C

    » echo $LANGUAGE

    » echo $LC_CTYPE
    UTF-8

    » echo $LC_ALL

[2016-03-15 18:46] KronicDeth commented on #192
I have `LC_CTYPE` as `en_US.UTF-8`, but I would think once it's in UTF-8, it doesn't matter what the language and country code are.  If it wasn't UTF-8 then the code page might matter.

Either in the file you showed me, or some other file in the project or your Elixir libraries you have a file with a 150 byte, which is outside of ASCII, so it would indicate that a different code page/encoding was

[2016-03-16 02:16] KronicDeth opened #254 "Have deps show up in External Libraries in Project pane"
It would be nice if `deps` showed up as External Libraries and only participated in Go To Symbol if `include non-project symbols` was check.  This thread may be helpful: https://intellij-support.jetbrains.com/hc/en-us/community/posts/206101849-Programmatically-add-external-libraries-for-custom-LibraryKind

[2016-03-16 19:04] KronicDeth opened #255 "@for inside defimpl shouldn't be marked as unresolved as it is defined by defimpl itself"
defimpl defines the `@for` module attribute to be the argument to `for:` or enclosing module.  This should either be discovered from the implementation of `defimpl` or just hard-coded as part of the logic for resolving module attributes so `@for` isn't marked as unresolved.

[2016-03-17 08:33] sprobst commented on #250
@KronicDeth Thank you, after your explanation I could alter the color settings in a way that `Kernel Macros` are highlighted how I like it.
Though I think it's confusing, because the Atom Editor for example highlights `Kernel Macros` like Keywords by default. I therefore always thought your plugin was broken in some way.

[2016-03-18 10:12] zyuyou commented on #249
@KronicDeth I have already tested it out, it works with `XmlSerializer.serializeInto(this, element) `.

[2016-03-18 19:49] KronicDeth commented on #249
I guess github didn't auto-detect the fix wording in #256, closing manually.

[2016-03-18 19:49] #249 closed

[2016-03-19 02:32] #96 closed

[2016-03-19 02:47] KronicDeth commented on #251
Ok, I can trigger it when typing the second line.  It is that the operation has only 2 children instead of the expected 3:

![screen shot 2016-03-18 at 9 43 03 pm](https://cloud.githubusercontent.com/assets/298259/13896221/7d8feb08-ed52-11e5-8e79-fc6423b153b3.png)

This is definitely caused by the automatic error handling that GrammarKit adds when triggering the Pratt Parser generation: as long as

[2016-03-19 11:07] NobbZ opened #258 "Importing mix-project does fail with `NoSuchMethodError`"
On importing a mix-project I do get the stack trace posted below.

Environment: IntelliJ 14.0.2, Ubuntu 14.04 LTS, Java 1.7.0_80-b15 is driving IntelliJ

[code]

[2016-03-19 13:47] zyuyou commented on #258
@NobbZ I'm sorry about that the new api `FileChooserDescriptorFactory.createSingleFileDescriptor()` may not be supported by `IntelliJ 14.0.2`. I tested it on `IntelliJ 14.1`, `IntelliJ 15.0.2`, they just works fine.

[2016-03-19 13:51] KronicDeth commented on #258
If it works in later versions we'll have to fix this by changing the declared compatible versions in plugin.XML.  I was expecting to have to change that anyway for the color constant deprecation in Minerva.

[2016-03-19 14:07] zyuyou commented on #258
[previous version list](https://confluence.jetbrains.com/display/IntelliJIDEA/Previous+IntelliJ+IDEA+Releases) they are no  `14.0.2`, the latest one is `14.0.4`.

[2016-03-19 14:47] NobbZ commented on #258
I'll try to convince sysop to do an update then, pointing to this issue.
Thank you anyway.

Yuyou Chow <notifications@github.com> schrieb am Sa., 19. März 2016 15:07:

[2016-03-19 19:26] #251 closed

[2016-03-19 21:54] KronicDeth commented on #252
Fixed by https://github.com/KronicDeth/intellij-elixir/pull/260

[2016-03-19 21:54] #252 closed

[2016-03-19 21:59] KronicDeth commented on #250
I finally installed 2016.1 for my production copy and it has the the __deprecated__ for Type, so 2016.1 includes the Minerva changes.  I'll have to update my community edition, so that the bug shows up in the debug builds.  Then, I'll need to figure out if there's a constant that will work in 14, 15, and 2016, or if I'll need to drop 14 or 15 support to support 2016.  If I don't use one of the pre

[2016-03-20 01:54] KronicDeth commented on #258
While working on #250, I read through the ant files, and the travis-ci build is testing against 14.1.6, which was the last release in the 14.1 line, so the build automation is only guaranteeing compatibility with 14.1 right now.  I'm considering adding a build for the latest PATCH for each MAJOR.MINOR pair since it appears that's what JetBrains keeps track of in https://confluence.jetbrains.com/di

[2016-03-20 13:58] smeevil opened #261 "Syntax highlighting function calls"
Hi,

I was wondering what I'm doing wrong since my function calls are not syntax highlighted.
I'm read in the release notes that it uses the fallback of function call in the general settings, which I did update.

This is a screenshot of the default settings :

![defaults](https://dl.dropboxusercontent.com/s/cz07q3lp19p048n/2016-03-20%20at%2014.49.png)

and this is how my elixir code looks like :

[2016-03-20 14:26] smeevil commented on #261
This seems related to #250, as I'm running IntelliJ Ultimate 2016.1
If so, you can close this one :)

[2016-03-20 15:23] cdegroot opened #262 "Assertion error in 2016.1"
(I'm copy/pasting as I'm currently doing something else - may come back later and dive into the source code to see whether I can come up with a PR fix instead of a bug report, that would be my preferred way of contributing :-)).

Having kafka_ex open in 2016.1 Ultimate:

[code]

and "occurred 14 times since the last clear", the counter keeps increasing. Could be that it trips over some halfbaked c

[2016-03-20 15:45] KronicDeth commented on #262
It's due to an interaction of an precondition assertion in `Operation#operator` that assumes an `Operation` will always have 3 elements (left operand, operator, and right operand) and the automatic error recovery that the Pratt Parser in GrammarKit gives the Elixir parser, which leads to that precondition not being true.

This is a duplicate of #251, which was fixed in #259, which will be released

[2016-03-20 15:45] #262 closed

[2016-03-20 15:49] cdegroot commented on #262
Thanks for the quick follow-up, I think you saved me some time here :-)

[2016-03-20 16:04] KronicDeth commented on #261
I may have phrased the release notes poorly: it's not that *all* function calls are highlighted, it's that functions and macros from `Kernel` [functions](http://elixir-lang.org/docs/stable/elixir/Kernel.html#functions) and [macros](http://elixir-lang.org/docs/stable/elixir/Kernel.html#macros) and `Kernel.SpecialForms` [macros](http://elixir-lang.org/docs/stable/elixir/Kernel.SpecialForms.html#macr

[2016-03-20 16:04] #261 closed

[2016-03-20 23:21] #230 closed

[2016-03-20 23:21] #250 closed

[2016-03-20 23:21] #258 closed

[2016-03-21 00:23] #191 closed

[2016-03-21 00:25] KronicDeth commented on #190
Closing due to no feedback for 3 months

[2016-03-21 00:29] KronicDeth commented on #181
This should have been closed by #188, but github didn't recognize @zyuyou's phrasing, so closing manually.

[2016-03-21 00:29] #181 closed

[2016-03-21 00:29] KronicDeth commented on #182
This should have been closed by #188, but github didn't recognize @zyuyou's phrasing, so closing manually.

[2016-03-21 00:29] #182 closed

[2016-03-21 03:28] #214 closed

[2016-03-21 15:50] VladShcherbin commented on #250
@KronicDeth great, thank you! ETA on when will it be available to install in IDEA?

[2016-03-21 16:25] KronicDeth commented on #250
I've been testing out a release candidate (i.e. I just did Build Artifacts and installed the zip locally, which you're welcome to do) today and hit some bugs (not related to the color constants) I need to check before release.  Once that's sorted out I need to update the README to include all the changes (I don't add things to the README as they are merged to master anymore as people kept opening

[2016-03-21 16:32] VladShcherbin commented on #250
@KronicDeth sure, take all the time you need to fix the bugs. Thank you for your work!

[2016-03-21 17:09] davidcotter commented on #203
Hi

I think I am doing something wrong. I have never been able to run a project from IntelliJ and always get this same error

"C:\Program Files (x86)\Elixir\bin\elixir.bat" ""
"No file named "

Maybe it doesn't work on Windows? I have trued it with mix - with the latest Intellij - the latest elixir plugin - with a new project - with an existing project - I think I am missing something basic.

Than

[2016-03-21 18:04] KronicDeth commented on #203
The argument to `elixir.bat` is an empty string, `""`.  It means your project is missing the path to whatever it is trying to run with `elixir.bat`.  Have you tried [@KamilLelonek's process](https://github.com/KronicDeth/intellij-elixir/issues/203#issuecomment-155842779)?

It works on Windows: whenever someone reports a Windows bug, I debug and make test builds from Windows.  I have a Windows box

[2016-03-21 23:54] KronicDeth opened #266 "AssertionError in GotToSymbolContributor when searching for `decode` in interpreter-server"
[code]

[2016-03-21 23:59] KronicDeth opened #267 "AssertionError in Prefix.operator"
Not sure how I triggered.  Only noticed after the fact, so assuming it was a transient, typing state.

[code]

[2016-03-22 00:00] KronicDeth opened #268 "Extracting specification type parameter name set for `@spec one(Ecto.Query.t, t) :: struct | nil`"
[code]

[2016-03-22 00:00] KronicDeth opened #269 "Extracting specification type parameter name set for `id`"
[code]

[2016-03-22 00:01] KronicDeth opened #270 "Highlighting types for `def get_source(conn, params, %__MODULE__{})`"
[code]

[2016-03-22 00:03] KronicDeth opened #271 "Highlighting types for `@doc <HEREDOC>`"
[code]

[2016-03-22 02:47] zyuyou commented on #203
![2016-03-22 10 41 16](https://cloud.githubusercontent.com/assets/1913492/13940725/0da41b04-f01b-11e5-9fb1-db4191850677.png)

@davidcotter Is it possible that you forgot to input a `Command` ?

[2016-03-22 03:08] KronicDeth commented on #269
Better test case:

[code]

[2016-03-22 03:14] KronicDeth commented on #266
Fixed by #272

[2016-03-22 03:14] #266 closed

[2016-03-22 15:19] #269 closed

[2016-03-24 04:16] KronicDeth commented on #271
Closed until the new error reporter can give the context of the entire file

[2016-03-24 04:35] KronicDeth commented on #270
Closing until new error reporter can give full file contents to debug issue

[2016-03-24 04:35] #270 closed

[2016-03-24 04:57] KronicDeth commented on #268
Close until improved error report shows full context.

[2016-03-24 04:57] #268 closed

[2016-03-24 08:38] davidcotter commented on #203
Thanks.

If I use the "Import project from external model" it uses mix ad the
command (not elixir) and you can pas in "compile" or any other mix command
and it runs. Thanks.

On Tue, Mar 22, 2016 at 2:47 AM, Yuyou Chow <notifications@github.com>
wrote:

[2016-03-25 00:17] imetallica opened #274 "IDE fatal error (2016.1)"
Hello, sometimes this happens on my IDE (Linux).

[code]

[2016-03-25 04:02] KronicDeth commented on #271
Caused by adding a `@type` above a `@doc` once you type `@type name ::` the `@doc heredoc` becomes the effective right operand of `::`.

[2016-03-25 04:22] KronicDeth commented on #274
Duplicate of #251.  Fixed by #259.  Wait for release of `v2.3.0`.  Ignore the error for now: it should be a transient error due to you typing and the IDE doing error recovery on a malformed infix operation.  Once the code is valid the errors will stop being generated.

[2016-03-25 04:22] #274 closed

[2016-03-25 04:59] KronicDeth commented on #258
@NobbZ bad news: after getting the build working with 14.0 to 2016.1 in #263, I had to drop 14.0 support because the newest GrammarKit (which I use to generate the parser) only generates code compatible with 14.1 to 2016.1, so you'll need to update to at least 14.1 or newer when I release [`v2.3.0`](https://github.com/KronicDeth/intellij-elixir/milestones/v2.3.0).

[2016-03-25 13:46] NobbZ commented on #258
I totally forgot about this one. In the meantime I was able to convince my
SysOp to update to 15.x. I have to live with that for now, 16 would break
an addon that is used by another dev-team and we are working on the same
systems image.

Luke Imhoff <notifications@github.com> schrieb am Fr., 25. März 2016 um
05:59 Uhr:

[2016-03-25 19:54] KronicDeth commented on #203
@zyuyou users keep having this issue when not importing from mix.  Do you think we should should detect if they are using mix when they pick import project without select import from mix?  When does the non-mix import work?

[2016-03-25 22:18] #271 closed

[2016-03-25 22:19] KronicDeth commented on #267
Fixed by #276

[2016-03-25 22:19] #267 closed

[2016-03-27 09:50] develop7 opened #277 "Unhandled exception when moving mouse pointer over function name with Ctrl/Cmd pressed"
# Version

3.0.0

# Description

* Press `Ctrl` and move mouse  pointer over `foo` in `def foo do…`

# Exception

## Message

Worker exited due to exception: @NotNull method org/elixir_lang/FindUsagesProvider.getType must not return null

## Stacktrace

[code]

[2016-03-27 14:17] PragTob opened #278 "Highlighting for def*"
Hi there and thanks for creating intellij-elixir,

from the [screenshots](https://github.com/KronicDeth/intellij-elixir/raw/master/screenshots/annotator/Module%20Attribute.png?raw=true) it looks like `def`, `defp`, `defmacro`, `defmodule` and friends can be highlighted but I seem to be to dumb to find it. They also don't show up in the docs about highlighting (or under a different name).

in the c

[2016-03-27 15:01] NobbZ commented on #278
Def and it's siblings aren't keywords, but kernel or specialform macros.
Can't remember where exactly they are classified under.

Tobias Pfeiffer <notifications@github.com> schrieb am So., 27. März 2016
16:17:

[2016-03-27 16:06] aphillipo commented on #277
I get this exception as well...

[2016-03-27 19:32] KronicDeth commented on #278
@NobbZ is right.  @PragTob you're just off by 2 in the screenshot you posted:  You have `Keywords` highlighted and you want [`Kernel Macros` to change the highlighting on `def*`](https://github.com/KronicDeth/intellij-elixir/blob/1d9b830bcbfbb214a2a51ca2f9cf280d39188050/src/org/elixir_lang/annonator/Kernel.java#L90-L136).

[Kernel Macros](http://elixir-lang.org/docs/stable/elixir/Kernel.html#macro

[2016-03-27 19:40] KronicDeth opened #279 "Enumerate Kernel functions, macros, and Kernel.SpecialForm macros"
Both @PragTob in #278 and @thirdshift in https://github.com/KronicDeth/intellij-elixir/issues/250#issuecomment-196104377 assumed that `Keywords` would control the highlighting for `def`, so the README can't make the assumption that users know what's a keyword, kernel function, kernel macro or kernel special form in Elixir.  To help new users, the exact matched element should be enumerated for each

[2016-03-27 19:42] KronicDeth commented on #278
@PragTob I opened #279 to cover updating the docs so that other users don't run into the same issue as you in the future.  Thank you for pointing out this usability issue.  Please close this issue if my instructions for changing the Kernel Macros highlighting wasn't clear.

[2016-03-27 19:58] KronicDeth commented on #277
It's only sorta a bug.  It was a known incomplete feature when implementing Go To Symbol.  For things to enter the index, they have to implement `PsiNamedElement`, but once an element implements `PsiNamedElement`, OpenAPI assumes that `#getType` will work on it too, but I didn't want to bundle that with Go To Symbol because `#getType` is something I'll cover when implementing Go To Declaration and

[2016-03-27 20:00] Havvy commented on #212
Basically what Dylan Griffith says.

The "Go To Test" thing sounds orthogonal, and potentially useful (to others). I just want a template for tests that ExUnit can be ran with without having to create a file and then rename. And I'm guessing so do others.

[2016-03-27 20:01] aphillipo commented on #277
Make's total sense!  Thanks for implementing this :+1:

[2016-03-27 20:01] KronicDeth commented on #277
Thanks @develop7 for using the new error reporter.  Glad to know if works for someone besides me.

[2016-03-27 20:06] Havvy opened #280 "[auto-generated] @NotNull method FindUsagesProvider.getType returned null"
# Version

3.0.0

# Exception

## Message

Worker exited due to exception: @NotNull method org/elixir_lang/FindUsagesProvider.getType must not return null

## Stacktrace

[code]

[2016-03-27 21:08] KronicDeth commented on #280
Thanks for using the new error reporter.  Closing as duplicate of #277.  See https://github.com/KronicDeth/intellij-elixir/issues/277#issuecomment-202136586 for explanation and work-around.  Subscribe to that issue for updates.

[2016-03-27 21:08] #280 closed

[2016-03-28 08:53] PragTob commented on #278
Hey there,

I did try Kernel macros/Kernel. SpecialForm macros and none of them worked when I tried it. There seems to be a bug in preview. I set them to bold now and as you can see in the screenshot it seems to apply to real code (background) but not in the preview window of Color & Fonts which is why I thought it didn't work.

![selection_006](https://cloud.githubusercontent.com/assets/606517/14

[2016-03-28 08:57] PragTob commented on #279
Little correction, I didn't assume keywords controlled `def*` it was just selected by accident as the last thing I had the cursor on that selected the right thing above was `do`. I did think that it was Kernel.Macros (or special form) but changing the color highliting for this didn't change the color highlighting in the preview window below + putting the cursor on `def*` didn't automatically selec

[2016-03-29 01:58] KronicDeth opened #281 "Annotate used and unused function"

[2016-03-29 02:03] KronicDeth opened #282 "Annotate atom keyword keys as atoms"

[2016-03-29 02:29] KronicDeth commented on #278
@PragTob I had originally thought it was not possible to run annotators on the Colors & Fonts preview because only the syntax highlighter worked by default, but after researching stuff for @net on Slack, I found https://intellij-support.jetbrains.com/hc/en-us/community/posts/206140629-ColorSettingPage-for-annotator-highlighting on the OpenAPI forums, so yeah, open a new issue to run the annotators

[2016-03-29 03:56] KronicDeth commented on #142
I tried using `createPsi`

[code]

 but it's not legal from the thread:

[code]

You know anything about working about allowed actions in threads in the API @zyuyou?

[2016-03-29 03:59] KronicDeth commented on #142
I pushed up [the change with the error](https://github.com/KronicDeth/intellij-elixir/commit/2f78a8729bd8e2eb6cf271c8df34ee229ac8cf70) on branch 142

[2016-03-29 04:44] zhongwencool opened #285 "Setup SDK is not defined(always....)"
![image](https://cloud.githubusercontent.com/assets/3116225/14098169/adc8a2b8-f5ab-11e5-82de-7dac037de3b2.png)

event restart the mac OXS

[2016-03-29 04:57] zyuyou commented on #142
@KronicDeth As I didn't do much work in the `Psi`, I have no idea about this. Sorry!

[2016-03-29 05:08] zyuyou commented on #285
@zhongwencool show the version of `idea` and the plugin please. Is there anything else wrong?

[2016-03-29 05:58] zyuyou commented on #285
The latest version of plugin works fine in the `IDEA CE 15.02`, I just test it out.

[2016-03-30 03:06] zhongwencool commented on #285
@zyuyou I reinstall intellij, it's ok now~~

IntelliJ IDEA 2016.1
Build #IC-145.258, built on March 17, 2016
JRE: 1.8.0_40-release-b132 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

Thanks~

[2016-03-30 03:06] #285 closed

[2016-03-31 08:23] MisterDeejay opened #286 "Prefix#operator AssertionError"
# Version

3.0.0

# Exception

## Message

null

## Stacktrace

[code]

[2016-03-31 13:20] KronicDeth commented on #286
Any idea what you were typing when the error was triggered?  The `assert` failing would indicate that a prefix operation was doing some sort of error recovery so that it didn't actually have 2 valid child elements at the time the `assert` happened.  I need a regression test to cover this.

[2016-03-31 19:55] KronicDeth commented on #286
#287 changes the assert to use the newer error reporting logger that will capture the element and file text, so it is easier to reproduce this error the next time it occurs.

[2016-03-31 20:34] #277 closed

[2016-03-31 21:32] #279 closed

[2016-04-01 03:19] imetallica opened #288 "Worker exited due to exception: @NotNull method org/elixir_lang/FindUsagesProvider.getType must not return null"
# Version

3.0.0

# Exception

## Message

Worker exited due to exception: @NotNull method org/elixir_lang/FindUsagesProvider.getType must not return null

## Stacktrace

[code]

[2016-04-01 15:26] KronicDeth commented on #288
Thanks for using the new error reporter.  This is a duplicate of #277 which was fixed by #283.

[2016-04-01 15:26] #288 closed

[2016-04-04 23:43] mbriggs opened #289 "[auto-generated]"
Held cmd and moused over some modules defined in lib. Can give more info if you like, but not sure what you would find useful.

# Version

3.0.0

# Exception

## Message

@NotNull method org/elixir_lang/FindUsagesProvider.getType must not return null

## Stacktrace

[code]

[2016-04-04 23:44] mbriggs commented on #289
just realized there are a bunch of these already....

[2016-04-04 23:44] #289 closed

[2016-04-05 01:28] KronicDeth commented on #289
Upgrade to 3.0.1 and your bug will be fixed.

[2016-04-08 10:24] cedriessen opened #290 "Cannot compile Java 7 projects with installed Elixir plugin"
Java 7 projects do not compile anymore when the Elixir plugin is installed. The following error occurs.

I am wondering if this issue relates to https://github.com/ignatov/intellij-erlang/issues/727

java.lang.UnsupportedClassVersionError: com/intellij/execution/ExecutionException : Unsupported major.minor version 52.0
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader

[2016-04-08 15:25] zyuyou commented on #290
It seems to be that. So, wait for it.

[2016-04-08 16:49] develop7 opened #291 "Unhandled exception when typing "pin operator" followed by unmatched parentesis"
# Version

3.0.1

# Description

Repro:
* Type `^(`

# Exception

## Message

Prefix operation does not have 2 children, but 1

### Excerpt

[code]
 Line(s) 29-29

## Stacktrace

[code]

[2016-04-08 17:08] KronicDeth commented on #291
Thanks @develop7.  I've been stuck on how to reproduce this for awhile.

[2016-04-10 11:55] jorgheymans opened #292 "Prefix operation does not have 2 children, but 1 using &"
# Version

3.0.1

# Exception

## Message

Prefix operation does not have 2 children, but 1

### Excerpt

[code]
 Line(s) 12-12

## Stacktrace

[code]

[2016-04-11 04:02] developerworks opened #293 "NoSuchMethodError: com.intellij.lang.parser.GeneratedParserUtilBase.nextTokenIsSmart(com.intellij.lang.PsiBuilder, com.intellij.psi.tree.IElementType)"
# Version

3.0.1

# Exception

## Message

com.intellij.lang.parser.GeneratedParserUtilBase.nextTokenIsSmart(Lcom/intellij/lang/PsiBuilder;Lcom/intellij/psi/tree/IElementType;)Z

## Stacktrace

[code]

[2016-04-11 18:30] jorgheymans opened #294 "@doc autocompletion generates double @@"
Hi,

Doing @doc and accepting the suggested autocomplete results in a double @ being inserted:
[code]

otherwise great plugin , thanks for not making me move to atom :-p

[2016-04-11 19:38] h4cc opened #295 "NoClassDefFoundError with IntelliJ IDEA 14.1.6"
I get this errors when opening a stock Phoenix v1.1.3 application.

Elixir Intellij Plugin Version 3.0.1.

Looks like this cause:
[code]

Trace:
[code]

[2016-04-11 19:54] jorgheymans opened #296 "Trying to rename a function parameter using the refactor menu"
# Version

3.0.1

# Description

trying to rename a function parameter using the refactor

# Exception

## Message

@NotNull method org/elixir_lang/FindUsagesProvider.getDescriptiveName must not return null

## Stacktrace

[code]

[2016-04-11 20:50] NobbZ commented on #294
I think this is related to IntelliJ, since similar thinks happen with
`#inc` -> `##include` in C and `-defi` -> `--define` in Erlang. Can't
access their issue tracker at the moment to look the problem up there
(would even know how to phrase the search)

Jorg Heymans <notifications@github.com> schrieb am Mo., 11. Apr. 2016 um
20:30 Uhr:

[2016-04-13 11:48] povilas opened #297 "[auto-generated] @NotNull method org/elixir_lang/FindUsagesProvider.getDescriptiveName must not return null"
# Version

3.0.1

# Exception

## Message

@NotNull method org/elixir_lang/FindUsagesProvider.getDescriptiveName must not return null

## Stacktrace

[code]

[2016-04-14 02:27] KronicDeth commented on #292
Thanks for filing this report.  It was difficult to find use cases where this would trip.

[2016-04-14 02:27] KronicDeth commented on #292
Thanks for filing this.  It was difficult to find code samples that would trip this prior to release.

[2016-04-14 02:29] KronicDeth commented on #293
`com.intellij` is something IntellIJ itself should be supplying, so this could be able build error maybe.  I might have a released a version of the plugin built against too new of a IntelliJ.  Which version of IntelliJ are you running in?

[2016-04-14 02:34] KronicDeth commented on #295
@developerworks reported a NoSuchMethodError in #293, which with this makes me think that I accidentally released a build of the plugin built against too new of a version of IntelliJ as Travis-CI says master is compatible with 14.1.6 to 2016.1, which means it can only be my release process that is causing an incompatibility.

[2016-04-14 02:37] KronicDeth commented on #295
@developerworks reported a NoSuchMethodError, so with this `ClassNotFoundException`, I'm leaning toward 3.0.1 being built wrong, perhaps against too new of a version of IntellIJ. That could have happened if I built against the newer versions when I was verifying working in the new versions for a bug fix and then released that version instead of building against the oldest version.

[2016-04-14 02:39] KronicDeth commented on #296
Renaming variable or parameters isn't supported yet, but the way OpenAPI works once I have PsiNamedElements (to support Go To Symbol StubIndexes), the refactoring actions think they should work, but it's a lot more work to make those work.  So, this will either be fixed by full refactor support in https://github.com/KronicDeth/intellij-elixir/tree/call-references or I'll try to make this fail clea

[2016-04-14 02:43] KronicDeth commented on #294
@jorgheymans have you tested if there's a different between selecting the completion with `TAB` or `ENTER`?  I know in Rubymine the completions replace the already typed text if the use `TAB`, but just insert the text if you hit `ENTER`.

[2016-04-14 02:44] KronicDeth commented on #297
Did you try to use Refactor > Rename?

[2016-04-14 02:49] KronicDeth commented on #290
Based on #295 and #293, 3.0.1 might be built against too new of a version of IntelliJ, so this might not or might not be the same as ignatov/intellij-erlang#727.  That or #295 and #293 are actually related to ignatov/intellij-erlang#727.

[2016-04-14 11:26] povilas commented on #297
yes

[2016-04-14 11:27] bublik opened #298 "[auto-generated]"
# Version

3.0.0

# Exception

## Message

Worker exited due to exception: @NotNull method org/elixir_lang/FindUsagesProvider.getType must not return null

## Stacktrace

[code]

[2016-04-14 22:14] KronicDeth commented on #298
Upgrade to 3.0.1 and your issue should be fixed.

[2016-04-14 22:14] #298 closed

[2016-04-14 22:22] KronicDeth commented on #297
Closing as duplicate of #296.  Add any new comments to that.

[2016-04-14 22:22] #297 closed

[2016-04-16 03:37] KronicDeth opened #299 "Create additionalTextAttributes extension to set default attributes in Darcula"
It is possible to set the `TextAttribute`s and not just the `TextAttributeKey` in plugin following [the guide](http://www.jetbrains.org/intellij/sdk/docs/reference_guide/color_scheme_management.html).  This would allow setting the colors for all the `TextAttributeKey`s that are currently grey or white to something useful in Darcula.

[2016-04-16 03:38] KronicDeth commented on #278
Just found out it **is** possible to set the attributes for the custom `TextAttributeKey`s using an `additionTextAttributes` key, which would allow to set the attributes in the default theme or Darcula.  That is now open as #299

[2016-04-16 03:38] KronicDeth commented on #282
Just found out it **is** possible to set the attributes for the custom `TextAttributeKey`s using an `additionTextAttributes` key, which would allow to set the attributes in the default theme or Darcula.  That is now open as #299

[2016-04-16 03:39] KronicDeth commented on #281
Just found out it **is** possible to set the attributes for the custom `TextAttributeKey`s using an `additionTextAttributes` key, which would allow to set the attributes in the default theme or Darcula.  That is now open as #299

[2016-04-16 03:39] KronicDeth commented on #179
Just found out it **is** possible to set the attributes for the custom `TextAttributeKey`s using an `additionTextAttributes` key, which would allow to set the attributes in the default theme or Darcula.  That is now open as #299

[2016-04-20 06:13] anolivetree commented on #293
Same error on IntelliJ 15.0

[2016-04-23 13:05] jorgheymans commented on #294
oops missed your comment here sorry, TAB or ENTER makes no difference same behaviour

[2016-04-24 06:21] Havvy commented on #292
Ran into this with the following:

`if !:queue.is_empty(game_events)` -> `if !(:queue.is_empty(game_events)`

Note the addition of the parenthesis there.

(Also, while writing this, I just remembered there's an `unless` in Elixir.)

[2016-04-26 12:00] wliirl opened #300 "Cannot find enclosing Modular for def __schema__(:type, ...) in Ecto"
# Version

3.0.1

# Exception

## Message

Cannot find enclosing Modular

### Excerpt

[code]
 Line(s) 1113-1115

## Stacktrace

[code]

[2016-04-26 22:44] KronicDeth commented on #300
This is part of Ecto, right?  That should be easy enough to reproduce.  Thanks for the report.

[2016-04-30 09:49] Havvy commented on #293
I'm getting it with v2016.1 (built March 17)

[2016-05-02 19:45] VladShcherbin commented on #299
@KronicDeth hey, any news on this?

Atom and even github have better colors, it's a bit sad to see almost everything in one color.

Thank you!

[2016-05-03 14:09] ponty96 opened #301 "Autocomplete"
I must say this is a very nice project and splendid work so far, but I'll just like to know when autocomplete features will be integrated into the plugin.....

[2016-05-04 02:20] KronicDeth commented on #301
As you're already aware, autocomplete is multiple features usually grouped together by what is autocompleted. [2.0.0](https://github.com/KronicDeth/intellij-elixir/releases/tag/v2.0.0) introduced autocomplete for module attributes.  For the next release ,I'm currently working on variable references and autocomplete.  After that, I'll get function/macro autocomplete working.  I'll also need to do a

[2016-05-05 10:49] aCandidMind opened #302 "3.0.1 has broken Elixir SDK support on Rubymine 8.0.1 (Build #RM 143.382)"
Elixir Plugin 3.0.1 is not finding any SDK automatically. Furthermore it can't pick up my manually set SDK and after indexing for a while it claims that no Project SDK is defined (Notification bar above every Elixir file: "Project SDK is not defined"). I can't define a SDK under the project settings. There's only `Other Settings -> Elixir External Tools` where I manually setup the SDK as mentioned

[2016-05-06 14:35] swieckib opened #303 "Prefix operation does not have 2 children, but 1 using !"
# Version

3.0.1

# Exception

## Message

Prefix operation does not have 2 children, but 1

### Excerpt

[code]
 Line(s) 32-32

## Stacktrace

[code]

[2016-05-07 21:37] KronicDeth opened #304 "Resolve and fold @for and @protocol in defimpl"
- [x] `@for` should not be marked as unresolved in `defimpl` and instead resolve to the either the `<name>` in `for: <name>` or the module name for the enclosing module when `for: ` is not given.
- [x] `@for` should fold to the resolved name as described above
- [x] `@protocol` should not be marked as unresolved in `defimpl` and instead resolve to the `<name`> in `defimpl <name>`
- [x] `@protocol`

[2016-05-08 13:20] KronicDeth commented on #302
`NoSuchMethodError: com.intellij.lang.parser.GeneratedParserUtilBase.nextTokenIsSmart(Lcom/intellij/lang/PsiBuilder;Lcom/intellij/psi/tree/IElementType;)Z` is a duplicate of #293 and for some reason it is having the knock-on effect of breaking other parts of the plugin.

Try downgrading to 3.0.0 using the [download link on the JetBrains plugin repo}(https://plugins.jetbrains.com/plugin/download?pr

[2016-05-08 13:21] KronicDeth commented on #293
I just realized when responding to #302 that how to downgrade isn't obvious, so here's the steps:

Try downgrading to 3.0.0 using the [download link on the JetBrains plugin repo}(https://plugins.jetbrains.com/plugin/download?pr=&updateId=24927) by first uninstalling the plugin:
1) Preferences > Plugins
2) Select Elixir
3) Click the Uninstall button
4) Click the Restart IntelliJ Elixir button that

[2016-05-08 13:24] KronicDeth commented on #303
Related to #291.  They will be fixed the same way.

[2016-05-08 13:26] KronicDeth commented on #255
Superseded by #304

[2016-05-08 13:26] #255 closed

[2016-05-09 02:17] KronicDeth opened #305 "Check if call is macro in match (=) when determining if args could be variable declarations"
In [`GenEvent`](https://github.com/elixir-lang/elixir/blob/a8547c43c75595630383f592f6fb03cd1d999466/lib/elixir/lib/gen_event.ex) uses [`handler`](https://github.com/elixir-lang/elixir/blob/a8547c43c75595630383f592f6fb03cd1d999466/lib/elixir/lib/gen_event.ex#L793) macro [defined by `Record.defrecordp`](https://github.com/elixir-lang/elixir/blob/a8547c43c75595630383f592f6fb03cd1d999466/lib/elixir/li

[2016-05-11 02:58] KronicDeth opened #306 "Add references to bracket operations that can resolve to variables/parameters"
`fun_info` in `fun_info[:module]` should resolve to the left `fun_info` in `fun_info = :erlang.fun_info(function)`:

[code]

-- `inspect.ex`

[2016-05-11 08:22] andshape opened #307 "Goto declaration not working / compilation completed with errors"
First of all, thanks for taking the time to create this plugin!

I am experiencing two problems with the plugin that I believe are related so I am posting this as one issue:

If I make the project (Ctrl+F9) from within IntelliJ I get the following error:
**Error: mix: syntax errro before: '('
Error: mix: Code.require_file/2**

(I does not mention a specific file or line number)

Furthermore, it is

[2016-05-15 18:22] KronicDeth commented on #307
Do you remember how you setup the project?  Did you do [Import From External Model](https://github.com/KronicDeth/intellij-elixir#import-project-from-external-model)?  A lot of people don't have good luck using the non-Mix project types.

[2016-05-16 17:47] vheathen opened #308 "Select SDK on Linux with Elixir managed by asdf manager"
Hi!

I'm using Elixir installed with [asdf version manager](https://github.com/asdf-vm/asdf) and I believe this is the only reason why your plug-in can't find Elixir SDK.

asdf is using the next directories structure:

/home/<user>/.asdf/shims - wrappers (shell command files) to the actual executables (for ex., mix, elixir and elixirc).
/home/<user>/.asdf/installs/elixir/<version>/ - the actual El

[2016-05-17 12:35] smeevil opened #309 "Syntax Highlight troubles"
Hi,

I'm still confused on what should or should not work regarding syntax highlighting.

I often see screenshots in your twitter feed that has a lot more highlighting than what I am experiencing. Using the default darcula theme the highlighting is very minimal, creating my own scheme and assigning a specific color to every element and never using the "use inherited attributes" option does make it

[2016-05-18 07:09] andshape commented on #307
Yes, I did import from external model. Just to double check I just redid the import, but unfortunately is still doesn't work correctly.

However, I have noticed that in some situations the "goto declaration"-command actually does work. If, for example, I am looking at a Phoenix controller the first line in the controller module will be

`use [namespace].Web, :controller`

here it is actually possi

[2016-05-18 10:21] Koziolek opened #310 "[auto-generated]"
# Version

3.0.1

# Description

Define varaible then SHIFT+F6 to change name → error

# Exception

## Message

@NotNull method org/elixir_lang/FindUsagesProvider.getDescriptiveName must not return null

## Stacktrace

[code]

[2016-05-18 11:37] KronicDeth commented on #307
Goto Declaration for aliases isn't implemented yet.  You can Goto Declaration for the other Modules because that is an unaliased name.

No form of Goto Declaration for functions is implemented yet.  But, for functions in the current file you can use the Structure View and Auto scroll to Source to click a function or call definition head in the Structure View to jump to that function.

[2016-05-19 06:13] andshape commented on #307
Ah ok. Good tip about the structure view + auto scroll to source, I will use that for now.

Regarding the other part of this issue about compilation failing when making the project from within IntelliJ (Ctrl+F9) - is that to be expected even though the project can compile with "mix compile"?

[2016-05-19 12:35] KronicDeth commented on #307
I just tried Cmd+F9 (I'm on Mac, not Windows) and https://github.com/C-S-D/alembic does not build:

![screen shot 2016-05-19 at 7 28 11 am](https://cloud.githubusercontent.com/assets/298259/15393493/46d21818-1d93-11e6-91a4-5a37ecc7d8c4.png)

But `mix compile (--force)` as a Elixir Mix run configuration works

![screen shot 2016-05-19 at 7 31 23 am](https://cloud.githubusercontent.com/assets/298259

[2016-05-19 12:46] KronicDeth commented on #307
Diffing .idea and the .iml for both projects I don't see an obvious difference.  Any ideas @zyuyou?

[2016-05-19 21:56] KronicDeth commented on #309
Variable coloring is not supported yet.  The support you've seen on twitter is probably the screenshots I posted for the in-development work on https://github.com/KronicDeth/intellij-elixir/tree/call-references.  It can [annotate variables, ignored variables, and parameters](https://github.com/KronicDeth/intellij-elixir/blob/call-references/src/org/elixir_lang/annonator/Callable.java#L76-L83).

If

[2016-05-20 01:02] smeevil commented on #309
I would be happy to receive development builds! If there are any game breaking errors I could always switch back to the regular build.

I've often wished I could help you with contributing to the development, but the entry barrier is really quite high :/ Got a lot of respect for you diving so deep into the bowels of the IDEA api !

[2016-05-20 07:38] zyuyou commented on #307
I tested `Cmd+F9` [https://github.com/C-S-D/alembic](https://github.com/C-S-D/alembic) on my mac, and I found that `Cmd+F9` did nothing to compile source file. It should be something wrong with the args passed to the compile-server.  I will check it out in my free time if I have.

[2016-05-20 21:34] KronicDeth commented on #309
It looks like JetBrains made it possible to build plugins with Gradle and they documented it even! http://www.jetbrains.org/intellij/sdk/docs/tutorials/build_system.html.  Importantly, if I used Gradle, I can publish to different channels automatically, so I can have a canary build automatically

[2016-05-20 22:02] KronicDeth commented on #309
I need to convert to a gradle build before I can publish to alternative (canary, eap, etc) channels on the JetBrains plugin repo, so for now I'll make "pre-release" releases here on github.  First one: https://github.com/KronicDeth/intellij-elixir/releases/tag/v3.0.1.20160520213720.  You'll have to uninstall the current version of the plugin, restart IntelliJ, then install the zip for that release

[2016-05-23 07:31] smeevil commented on #309
The coloration is already a huge improvement and helps a lot ! I will look forward to the future pre-releases :)

Thanks once again for all your effort, hugely appreciated.

[2016-05-23 07:31] #309 closed

[2016-05-27 11:50] marioosh commented on #294
@jorgheymans :
Completion is triggered on `doc` not on `@doc` So, if you use second version `@` symbol is skipped and `doc` will be replaced by macro with additional `@` at the beginning.
Use just `doc<TAB>` and you'll get expected result.

[2016-05-27 14:09] aphillipo commented on #294
Would it not be better to add @doc as well as doc to the autocompletions with the first taking precedence, then both will work and all users will get expected behaviour. Just a thought.

[2016-05-27 18:30] smeevil commented on #217
When this error occurs it affects the syntax highlighting as well. For everything below this line it seems that the variables, ignored variables, and parameters are loosing their colouration. If commenting the alias or writing the alias in full, the highlighting is restored. (version 3.0.1.20160520213720)

[2016-05-27 18:56] doctorx opened #311 "Cannot highlight types (?a)"
# Version

3.0.1

# Exception

## Message

Cannot highlight types

### Excerpt

[code]
 Line(s) 3-3

## Stacktrace

[code]

[2016-05-29 03:18] KronicDeth commented on #311
Do you have the context around the `?a`?

[2016-05-29 03:20] KronicDeth commented on #217
It makes sense that it would screw up the everything below since the parsing level will generate `PsiErrorElement`s, which stops the higher levels, like the syntax highlighting that is done by the annotators as opposed to the `ASTNode` level syntax highlighting

[2016-05-29 12:06] meng89 opened #312 "SDK in /usr/lib64/elixir and /usr"
On Gentoo/Linux
elixir 1.0.5, 1.2.5
Installed files:
`
/usr/lib64/elixir/bin/mix
/usr/lib64/elixir/bin/iex
/usr/lib64/elixir/bin/elixirc
/usr/lib64/elixir/bin/elixir
`
And their soft links:
`
/usr/bin/mix
/usr/bin/iex
/usr/bin/elixirc
/usr/bin/elixir
`

[2016-05-30 19:58] doctorx commented on #311
https://github.com/lehoff/acquirex

lib/tiles.ex
`
defmodule Acquirex.Tiles do

  @type column :: 1..12
  @type row :: ?a..?i
  @type t :: {column, row}  # Acquire has a weird coordinate system :-(

  def start_link() do
    Agent.start_link(fn -> all |> Enum.shuffle end, name: __MODULE__)
  end

  def draw do
    Agent.get_and_update(__MODULE__, fn([tile|tiles]) -> {tile, tiles} end)
  end

  def

[2016-05-30 20:36] KronicDeth commented on #311
Cool.  I hadn't realized that ?<letter> would work in a range for a type like that.

[2016-05-30 22:36] wliirl opened #313 "Worker exited due to exception: org/elixir_lang/jps/model/JpsElixirSdkType"
# Version

3.0.1.20160520213720

# Exception

## Message

Worker exited due to exception: org/elixir_lang/jps/model/JpsElixirSdkType

## Stacktrace

[code]

[2016-05-30 23:59] KronicDeth commented on #313
Maybe related to #295.  Which version of IntellIJ and Java SDK are you using @wliirl?

[2016-05-31 09:29] develop7 commented on #312
are you asking what SDK path should be? it's `/usr/lib64/elixir`

[2016-05-31 09:34] develop7 commented on #308
So what is your issue about? Are you saying plugin should support ASDF-managed elixir installations?

[2016-05-31 11:11] meng89 commented on #312
Thanks, I have already configure SDK path right manually.
but the plugin does not automatically find Elixir in my case.
so I opened this issue.

[2016-05-31 13:48] KronicDeth commented on #290
I can get a build loop that works in IntelliJ 1.4 and JDK 1.6

1. Build IntelliJ Elixir in IntelliJ 14.1 using JDK 1.6 with the project SDK set to IntelliJ 14.1 using JDK 1.6 (call this `intellij-elixir-14.1-1.6-14.1-1.6.zip`)
2. Installl `intellij-elixir-14.1-1.6-14.1-1.6.zip` into IntelliJ 14.1.
3. Rebuild `intellij-elixir-14.1-1.6-14.1-1.6.zip` in IntelliJ 14.1
4. Build works

The same build pr

[2016-05-31 15:07] KronicDeth commented on #312
@develop7, @meng89 opened the ticket because I specifically [ask users to open an issue when IntellIJ Elixir can't find their Elixir SDK automatically in the README](https://github.com/KronicDeth/intellij-elixir/blame/master/README.md#L113-L116).

[2016-05-31 16:55] develop7 commented on #312
@KronicDeth @meng89 oh got it, sorry.

[2016-06-02 04:35] vheathen commented on #308
@develop7, thanks for the question.

There is an ask in the plugin initializer to send environment info if this plugin can't find Elixir paths by itself. So I did.

As there is no syntax highlighting at the moment (or I haven't found the way to enable it after a brief look) I went back to the sublime with ElixirSublime and can't make a PR to add asdf support.

[2016-06-03 03:37] #286 closed

[2016-06-03 03:37] #291 closed

[2016-06-03 03:37] #292 closed

[2016-06-03 03:37] #303 closed

[2016-06-03 03:46] KronicDeth commented on #296
Renaming variables and parameters is supported by #314.

[2016-06-03 03:46] #296 closed

[2016-06-03 04:45] Nihisil commented on #203
I think it should be some kind of auto detection of mix project structure and suggesting to import all needed files.

After installation of Elixir plugin I have created new project inside Intellij IDEA and plugin wasn't work with it properly. I had same "file not found" bug.

Only after looking into this issue on github I was able to create mix project from console and import it. It resolved empty

[2016-06-03 05:07] Nihisil opened #315 "ANSI Escape Codes are not processed in Run configuration console output"
I have tried https://github.com/elixirkoans/elixir-koans

And in intellij idea I can see this output of "meditate" command:

![1](https://cloud.githubusercontent.com/assets/475367/15769250/d63e829e-298b-11e6-842f-e20b9ec2d35f.png)

In console same output looks like this:
![2](https://cloud.githubusercontent.com/assets/475367/15769257/e177a8ac-298b-11e6-93c3-ab7bd35be6d5.png)

I guess it related so

[2016-06-03 21:48] KronicDeth commented on #315
Those strange additional symbols are [ANSI escape codes](https://en.wikipedia.org/wiki/ANSI_escape_code).  They are how terminals display colors.  In your console, the terminal emulator is changing the ANSI escape codes into colored text, the Run Configuration does not do that.  I'll look into it to see if I can make it process ANSI escape codes.

[2016-06-04 00:11] KronicDeth commented on #203
I agree with @Nihisil that it would probably do auto-detect.  @zyuyou based the project support on intellij-erlang's where rebar support is equivalent to mix support, but unlike rebar in Erlang project, mix is more prevalent in Elixir projects, so assuming mix support is probably not a bad idea for intellij-elixir.  We'll get to it eventually.  For now, there is a work-around, unlike a lot of othe

[2016-06-04 03:06] #311 closed

[2016-06-04 03:12] KronicDeth commented on #310
Variable rename was not supported until #314, so it was not expected to work, but it should not have caused an error.  #314 (in 313e21ca0) started using an `com.intellij.psi.ElementDescriptionProvider`, which has safer fallbacks when descriptions are missing (it normally uses the element text), so this bug shouldn't happen after #314 either.  (The only element description location that doesn't hav

[2016-06-04 03:12] #310 closed

[2016-06-04 03:32] KronicDeth commented on #312
@meng89 does Gentoo support version-specific paths for multiple installs of Elixir? (With `eselect` maybe? I haven't used Gentoo since ~2008.) I prefer to use version-specific paths if possible as the SDK picker cares about the version of the SDK and so once selected that version should remain fixed, which isn't the case if I use a version-less path like `/usr/lib64/elixir` or `/usr/bin`

[2016-06-04 03:53] KronicDeth commented on #301
#314 adds auto-complete for parameters/variables

[2016-06-04 03:56] KronicDeth commented on #300
I can't trigger this after merging #314, so I'm counting that as the fix.  Let me know if you can reproduce the bug after the next release and I'll reopen.

[2016-06-04 03:56] #300 closed

[2016-06-04 03:58] KronicDeth commented on #179
#314 added syntax highlighting for Parameters, Ignored Variables, and Variables.

[2016-06-04 07:50] meng89 commented on #312
@KronicDeth Sorry for I didn't speak clearly, Gentoo can‘t install multiple versions of Elixir in the same time, and there is no moulde of 'elelect' tool for Elixir to select the default version.
I just installed it and upgraded it successively, and the executable path of two versions is the same.

[2016-06-04 12:29] #282 closed

[2016-06-04 16:58] zyuyou commented on #203
There is an difference between `rebar` and `mix`, `mix` do nothing without `mix.exs` but `rebar` can.
<img width="599" alt="2016-06-05 12 52 24" src="https://cloud.githubusercontent.com/assets/1913492/15800872/3b58745a-2ab8-11e6-81b1-a863f120da76.png">

You means giving some tips when they run `mix` run configuration  in a non-mix project?

[2016-06-04 18:39] KronicDeth commented on #203
@zyuyou I was thinking that the user should not have to do `File > New > Project from existing Sources > Import from external model > Mix`, but instead doing `File > Open` and picking a directory with a `mix.exs` will assume it's a mix project or prompt to set it up as one.  Users seem to keep missing that they need to import using the MIx external model to get the Run configurations to work.  I'm

[2016-06-06 03:26] zyuyou commented on #203
@KronicDeth [MixProjectOpenProcessor](https://github.com/KronicDeth/intellij-elixir/blob/master/src/org/elixir_lang/mix/importWizard/MixProjectOpenProcessor.java) can do this work with `<projectOpenProcessor implementation="org.elixir_lang.mix.importWizard.MixProjectOpenProcessor" />`, and it works with mix project, but prompt to set it up as one, because we don't know if it will work fine after s

[2016-06-06 10:33] alec-c4 opened #319 "[auto-generated]"
# Version

3.0.1

# Exception

## Message

Prefix operation does not have 2 children, but 1

### Excerpt

[code]
 Line(s) 34-34

## Stacktrace

[code]

[2016-06-08 19:44] KronicDeth commented on #319
Duplicate of other `Prefix#operator` bugs (#286, #291, #292, #303).  Already fixed by c1e27bf.

[2016-06-08 19:44] #319 closed

[2016-06-09 22:04] wliirl opened #321 "[auto-generated]"
# Version

3.0.1.20160520213720

# Exception

## Message

Worker exited due to exception: org/elixir_lang/jps/model/JpsElixirSdkType

## Stacktrace

[code]

[2016-06-11 04:25] #299 closed

[2016-06-11 04:45] KronicDeth commented on #321
Duplicate of #313

[2016-06-11 04:45] #321 closed

[2016-06-11 07:23] KronicDeth commented on #290
Related to https://github.com/KronicDeth/intellij-elixir/issues/290#issuecomment-222693633: it looks like org/jetbrains/jps/incremental/BuilderRegistry$Holder.class changed jars between versions:

14.1: jps-server.jar
2016.1: jps-builders.jar

[2016-06-11 15:10] KronicDeth commented on #290
Sorry to pull you out of https://github.com/ignatov/intellij-erlang/issues/727, @chashnikov.  This is the equivalent issue for intellij-elixir.  Is there a way to make https://github.com/KronicDeth/intellij-elixir/issues/290#issuecomment-222693633 work?  I've been targeting IntelliJ 14.1 through 2016.1 for intellij-elixir, but building in IntelliJ 14.1 using JDK 1.6 leads to `org.jetbrains.jps.inc

[2016-06-12 00:56] #290 closed

[2016-06-12 00:56] #293 closed

[2016-06-12 00:56] #295 closed

[2016-06-12 00:56] #302 closed

[2016-06-12 00:56] #313 closed

[2016-06-17 13:20] swieckib opened #326 "@NotNull parameter 'element' of org/elixir_lang/psi/scope/Variable.execute must not be null"
# Version

4.0.0

# Exception

## Message

Argument for @NotNull parameter 'element' of org/elixir_lang/psi/scope/Variable.execute must not be null

## Stacktrace

[code]

[2016-06-19 04:09] KronicDeth commented on #326
Any idea what code set this off?

[2016-06-21 07:27] swieckib opened #327 "org.elixir_lang.reference.Callable.isParameter doesn't work for `var!(config)[:url]`"
# Version

4.0.0

# Exception

## Message

Don't know how to check if parameter

### Excerpt

[code]
 Line(s) 518-518

## Stacktrace

[code]

[2016-06-21 11:29] huyh opened #328 "Rubymine version 8 and java 1.8.0_40 does not have com.intellij.lang.parser.GeneratedParserUtilBase.nextTokenIsSmart"
# Version

4.0.0

# Exception

## Message

Error while indexing /Users/huy/dev/home/email_surveys/service/lib/email_surveys/endpoint.ex
To reindex this file IDEA has to be restarted: com.intellij.lang.parser.GeneratedParserUtilBase.nextTokenIsSmart(Lcom/intellij/lang/PsiBuilder;Lcom/intellij/psi/tree/IElementType;)Z

## Stacktrace

[code]

[2016-06-21 11:52] KronicDeth commented on #328
I had anticipated that the new build process would have eliminated these NoSuchMethod errors, but I guess not.  I'll need more information to reproduce.

1. What version of IntelliJ are you using?
2. What version of JDK is that install of IntelliJ using?

[2016-06-21 12:49] huyh commented on #328
I use Rubymine version 8 and java 1.8.0_40

[2016-06-21 13:06] KronicDeth commented on #328
OK, I'll test an install in Rubymine 8.

I'm not sure you're aware, but the plugin  has more features available if you use it in IntelliJ: you can only make an Elixir project in IntelliJ, non-Ruby projects aren't supported using the extension points available to Rubymine.

The Community Edition of IntelliJ is a free download if you don't have the JetBrains Toolbox subscription that  allows you to

[2016-06-23 09:24] wliirl commented on #300
Thanks, this does not seem to happen with upgrading the new plugin, new elixir, etc... there are lots of updates last couple of days, great work!

[2016-06-23 09:25] wliirl commented on #321
thanks for investigate this one, it seems not happening with upgrade.

[2016-06-23 09:28] wliirl commented on #313
Thank Kronic, it does not happening any more with upgrade,

[2016-06-24 13:22] KronicDeth commented on #327
Do you know which library this is from, so I can check the overall file and library?  If it's proprietary and you can't share, that's fine.

[2016-06-24 13:26] KronicDeth commented on #326
I reproduced at least one case of this where I deleted the right operand for a `|>` that had a following `|>`.

[2016-06-24 13:37] swieckib commented on #326
So I guess it happened to me a couple of time when I copied some code from other module, say, I would recall it was something like this:

``
copied_and_undefinied_variable |> some_action
``

and the plugging crashed when I double clicked on ``some_action``

Hope it helps.

[2016-06-27 21:50] Nicholi opened #329 "mix --version format changed for 1.3.0+"
When importing a Mix project or checking the "Elixir External Tools" settings the Version field is populated with: ```N/A: Error: ** (Mix) Cannot implicitly pass flags to default Mix task, please invoke instead "mix run"```

The path to mix is valid: ```/usr/local/bin/mix``` and I can run it with --version in my terminal no problem.

Also you simply can't import the mix project unless you uncheck

[2016-06-28 02:43] #326 closed

[2016-07-01 15:05] KronicDeth commented on #329
I think they changed how the mix command is wrapped again.  It seems to change with every version of Elixir, so it is really hard to get a machine parseable version out of it.  I can confirm I can reproduce this locally now that I'm on Elixir 1.3.0.

[2016-07-02 02:46] #95 closed

[2016-07-02 04:16] KronicDeth opened #332 "Enclosing modular cannot be found when modular is a custom macro"
Specifically in Dogma, the modulars use `defrule`, so a heuristic should be made that if no recognized modular is present and there is a parent macro (i.e. the call definition clause is in the do block), then treat that macro as at the enclosing modular.

This text will trigger the bug:

[code]

if you try to use Go To Symbol (Shift+Cmd+O)

[2016-07-03 10:49] szubtsovskiy opened #333 "IDE internal error occurs with message "Don't know how to check if parameter""
Hey. In my IDE this error happens kinda often and I decided to report it.

### Plugin Version

4.0.0

### IDE version

IntelliJ IDEA 2016.2 EAP
Build #IU-162.1120.6, built on June 28, 2016
JRE: 1.8.0_76-release-b216 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

### Exception

#### Message

Don't know how to check if parameter

##### Excerpt

[code]
[cli.ex.txt](https://github.com/Kronic

[2016-07-04 22:16] KronicDeth commented on #91
Resolved by #314 and released in [v4.0.0](https://github.com/KronicDeth/intellij-elixir/releases/tag/v4.0.0).

[2016-07-04 22:16] #91 closed

[2016-07-04 22:18] KronicDeth commented on #278
Resolved by #322.  Released in [v4.0.0](https://github.com/KronicDeth/intellij-elixir/releases/tag/v4.0.0)

[2016-07-04 22:18] #278 closed

[2016-07-05 00:17] KronicDeth opened #335 "Resolve variable returned from binding()"
In [`KernelTest`](https://github.com/elixir-lang/elixir/blob/f30e3c78138fde3eb5f9baacefb340eb6d1a05ef/lib/elixir/test/elixir/kernel_test.exs), `binding/0` is tested to check that it shows variable declared.  The keyword keys in the binding should resolve to the declared references.

[2016-07-05 00:49] #327 closed

[2016-07-06 03:01] #304 closed

[2016-07-06 13:20] Donavan opened #338 "Don't know how to check if parameter for `[id]`"
# Version

4.0.0

# Exception

## Message

Don't know how to check if parameter

### Excerpt

[code]
 Line(s) 18-18

## Stacktrace

[code]

[2016-07-07 10:07] bgaifullin opened #339 "checkRight and checkLeft can both be false in processDeclarations(@NotNull final Match match, ...)"
# Version

4.0.0

# Exception

## Message

null

## Stacktrace

[`org.elixir_lang.psi.impl.ElixirPsiImplUtil.processDeclarations(ElixirPsiImplUtil.java:1417)`](https://github.com/KronicDeth/intellij-elixir/blob/v4.0.0/src/org/elixir_lang/psi/impl/ElixirPsiImplUtil.java#L1417)

[code]

[2016-07-07 13:15] swieckib opened #340 "Code Formatting"
Given how advanced this plugin is, it would be great to add support for code formatting and make developers life easier.

I know there is a guide how to do it in house, but it would be nice to have it build-in same as in other IntelliJ plugins.

[2016-07-07 15:25] KronicDeth commented on #340
Duplicate of #98.  Please go 👍  the issue there, so the user vote count is correct.

[2016-07-07 15:25] #340 closed

[2016-07-07 15:27] KronicDeth commented on #339
Well that generated bug report wasn't very helpful.  Sorry about that.  Is your project open source so I can just load it up in the debugger to try to track down the issue?

[2016-07-07 15:29] KronicDeth commented on #338
Do you have the large context for where `[id]` appears in the code?  That won't be enough to reproduce the problem.  The report generator may have Attachements with the code in question.

[2016-07-08 20:28] folz opened #341 ""Probably SDK is corrupt" when Elixir is installed with asdf."
I'm using the asdf version manager to install Erlang and Elixir on Mac OSX El Capitan.

Whenever I open a `.ex` file, I get a yellow warning "Project SDK is not defined":
![](https://cloud.githubusercontent.com/assets/299281/16700382/96b85fd4-450e-11e6-8946-bc57d2e0ca9c.png)
Clicking "Setup SDK" prompts me to select the folder Elixir is located in, which I do:
![](https://cloud.githubusercontent.c

[2016-07-09 13:09] KronicDeth commented on #86
LIne markers aren't appropriate for simple Alias usage, the Go-To usage is better for that.

[2016-07-09 13:09] #86 closed

[2016-07-09 13:15] KronicDeth commented on #339
From the method, this would imply that there is some code (probably when there is an error in the syntax when you're still typing) where the `processDeclarations` can't decide whether to check the left operand, the right operand or both when hitting a `=`.  Can you recall what you were doing around `=` when this error occurred?

[2016-07-09 13:46] #339 closed

[2016-07-09 14:18] KronicDeth commented on #328
I installed [Rubymine 8.0.4 with the custom JDK](https://download.jetbrains.com/ruby/RubyMine-8.0.4-custom-jdk-bundled.dmg) and then opened my Phoenix project and its `endpoint.ex` and I wasn't able to trigger the problem.

If you move the `endpoint.ex` to a project by itself, can you still trigger the bug?  If that's the case, you could gist the `endpoint.ex` alone and I could test with that.  Un

[2016-07-09 17:32] alexandru-calinoiu commented on #329
Same here on a linux machine with elixir 1.3.0

[2016-07-10 15:48] KronicDeth commented on #329
It looks like the change is that "Mix <version>" is no longer the first line.  In 1.3.0, they started printing the Erlang version header on the first line and "Mix <version>" is on the last line.

[2016-07-11 02:17] #329 closed

[2016-07-12 01:54] #332 closed

[2016-07-12 12:28] drathier opened #345 "Links in stdout point to first file with that name, rather than following path"
Links in stack traces etc. in stdout point to the first file with that filename, rather than following the whole path.

e.g. `lib/a/compl.ex` and `lib/b/compl.ex` both open `lib/a/compl.ex` when clicked.

[2016-07-13 20:02] n2o commented on #329
I am still having this issue with `mix 1.3.1`, `Elixir 1.3.1` and `intellij-elixir 4.0.0`

[2016-07-14 01:39] KronicDeth commented on #329
@n2o you should still have the issue in 4.0.0.  It wasn't fixed in 4.0.0, it was reported against 4.0.0 and closed with a commit to master.  It will be in the v4.1.0 release.  If you would install [the canary build of v4.1.0](https://github.com/KronicDeth/intellij-elixir/releases/tag/4.1.0-dev%2B20160712024727), you can confirm it works for your before v4.1.0 is officially released.

[2016-07-14 12:27] zan-kusterle opened #346 "Don't know how to check if parameter changeset.params["from_identity_id"]"
# Version

4.1.0-dev+20160712024727

# Exception

## Message

Don't know how to check if parameter

### Excerpt

[code]
 Line(s) 54-54

## Stacktrace

[code]

[2016-07-15 15:18] n2o commented on #329
@KronicDeth thanks, works as expected!

[2016-07-15 16:02] joshuataylor commented on #186
Wanting to use phoenix with this, can put up a $50USD bounty if that would help? :-)

[2016-07-16 13:21] KronicDeth commented on #346
The excerpt alone is enough to trigger the bug.

[2016-07-16 22:01] #346 closed

[2016-07-16 22:12] KronicDeth commented on #345
Duplicate of #229.  Please move any more information about your specific use case to that issue.

[2016-07-16 22:12] #345 closed

[2016-07-16 22:32] KronicDeth commented on #333
I can't reproducing by clicking all the identifiers in the excerpt of Cmd+Hovering over all the identifiers.  Any idea which element in the excerpt is triggering and what action you're doing at the time?  Are you typing inside the function at the time?

[2016-07-16 22:58] KronicDeth commented on #229
It looks like the bug must be in [FileReferenceFilter](https://github.com/KronicDeth/intellij-elixir/blob/832dd7bcb9a788af71663428c4eea4c2e32b085e/src/org/elixir_lang/console/FileReferenceFilter.java) because it is used by [ElixirConsoleUtil#attachFilters](https://github.com/KronicDeth/intellij-elixir/blob/832dd7bcb9a788af71663428c4eea4c2e32b085e/src/org/elixir_lang/console/ElixirConsoleUtil.java#

[2016-07-17 09:08] joshuataylor opened #350 "Cannot find enclosing Modular, randomly"
# Version

4.0.0

# Exception

## Message

Cannot find enclosing Modular

### Excerpt

[code]
 Line(s) 5-6

## Stacktrace

[code]

[2016-07-17 13:42] KronicDeth commented on #229
Looks like one bug is that the line parser is leaving a space in front of the path, so the first check to find the file always fails:
![screen shot 2016-07-17 at 8 42 02 am](https://cloud.githubusercontent.com/assets/298259/16900956/6ceac122-4bfa-11e6-9d68-b2c59bdc4a9c.png)

[2016-07-18 06:20] BenBals commented on #186
is this issue still relevant?

[2016-07-18 06:53] szubtsovskiy commented on #333
Honestly, I don't know. This and other errors happen from time to time
without noticing. Sometimes I see a red icon blinking in the IDE's bottom
right corner but that's it.

I think the best is to close the issue. If I am be able to collect relevant
data I will reopen it or create a new one.

Thanks!

On Sunday, 17 July 2016, Luke Imhoff <notifications@github.com> wrote:

--
Sergey Zubtsovskiy
ser

[2016-07-18 11:32] douglascorrea commented on #186
I think it is relevant yet, I use this plugin and I missing eex file syntax highlight

[2016-07-18 11:53] joshuataylor commented on #186
I just use HTML formatting for *.html.eex files. Allows highlighting + indenting.

[2016-07-18 19:29] jwfearn opened #351 "Don't know how to check if parameter in defp"
# Version

4.0.0

# Exception

## Message

Don't know how to check if parameter

### Excerpt

[code]
 Line(s) 16-16

## Stacktrace

[code]

[2016-07-19 16:04] KronicDeth opened #352 "Could not determine whether to check left operand, right operand, or both of match, so checking none when processing declarations inside git merge"
# Version

4.1.0-dev+20160712024727

# Exception

## Message

Could not determine whether to check left operand, right operand, or both of match, so checking none when processing declarations

### Excerpt

[code]
 Line(s) 145-149

## Stacktrace

[code]

## Attachments

[code]

[2016-07-20 03:31] #229 closed

[2016-07-20 14:13] KronicDeth opened #354 "Searching further on match when resolving references not working"
`context` in this function should be a parameter for all uses, but the match that populates `line` and `port` from the map is making the later `context` think is a rebinding, which is incorrect.

![screen shot 2016-07-20 at 9 10 59 am](https://cloud.githubusercontent.com/assets/298259/16989512/14b13ef2-4e5a-11e6-9ea2-a4212b3b137a.png)
![screen shot 2016-07-20 at 9 11 11 am](https://cloud.githubuse

[2016-07-20 21:53] KronicDeth commented on #186
[This post](https://intellij-support.jetbrains.com/hc/en-us/community/posts/206765105-Tutorial-Custom-templating-language-plugin) seems like a good lead, but doesn't cover how to reuse `Elixir.bnf` once I'm inside the `<%= %>` tags.

[2016-07-20 22:03] KronicDeth commented on #186
Peter Gromov's reply in [this post](https://intellij-support.jetbrains.com/hc/en-us/community/posts/206780275-Example-of-a-custom-language-plugin-for-a-templating-language) explains mixing the other direction

[2016-07-21 04:18] KronicDeth opened #355 "Unknown modular is being used too much"
In [Alembic.Document](https://github.com/C-S-D/alembic/blob/75bcd3d107e32e784f6546a97398f3a6f17c77e6/lib/alembic/document.ex) is marked as Unknown, when it should be a Module.

[2016-07-22 14:38] mremond opened #356 "Use an Elixir project with Erlang facet or the reverse"
Hello,

Is it possible to configure an Elixir project to have Erlang facet for Erlang code or the reverse, have an Erlang project have Elixir code as a facet.

We have a project with hybrid code and I could not find how to properly handle this.

Thanks !

[2016-07-22 15:03] KronicDeth commented on #356
Right now that is not possible, it was a known issue that I was aware of already though from all the testing I do with the elixir-lang/elixir, which is a mixed project.  My understanding, is I need to re-implement Elixir language as a facet of Erlang, the way Clojure or Groovy support is built on top of Java support in IntelliJ.  This is such a big change that I just haven't gotten to it yet.

Rig

[2016-07-22 18:37] merqlove commented on #217
@KronicDeth Hi, this is fixed?
I can't work with 4.0.0, highlighting/autocomplete is failed in 50% of project files within intellij/rubymine + elixir plugin.

[2016-07-22 22:23] KronicDeth commented on #217
@merqlove if it was fixed this issue would have been closed with a pull request (or manually if I forgot to do `Fixes #217` in the PR description).  It's not closed, so it's not fixed.

[2016-07-23 10:58] mremond commented on #356
Thank you for clarification. I understand it is quite a big change.

[2016-07-25 04:25] KronicDeth commented on #217
@merqlove do you have any open-source projects I can use to test the fix before releasing for your specific use cases.  My test cases are normally elixir-lang/elixir, but it hasn't converted to compact aliases really, so it won't make a good test case.

[2016-07-25 10:58] merqlove commented on #217
@KronicDeth yeah, uploaded some my current docker testing project.
https://github.com/merqlove/elixir-docker-compose
Link to file with bug in readme.

[2016-07-26 00:52] nimashariatian opened #357 "Auto-Inserting Matching Delimiters"
hi guys,
first of all, AWESOME plugin.

none of the Auto-Inserting Matching Delimiters are working in my intellij IDEA for me.
example:
if i open ( the editor just sits there and does not close the parenthesis
if i move the cursor to "do" it does not highlight "end" and so on.

is this a common issue?
i am on OSX El Capitain 10.11.15
Intellij IDEA - 2016.2

[2016-07-26 00:55] KronicDeth commented on #357
Well, yeah, it would be a common issue as it affects all users: the feature isn't implemented yet.  I'm not actually sure which part of the OpenAPI does the insertion of matching delimiters, so it will take some research to see if the Brace Matcher API, just does the highlighting, or if it does the insertion too.

[2016-07-26 00:56] nimashariatian commented on #357
thank you @KronicDeth
appreciate all the hard work!

[2016-07-26 12:49] KronicDeth commented on #351
I can't cause the error using master using the excerpt or putting the excerpt inside a `defmodule`.  Can you post the code surrounding `defp ssort(s), do: s |> String.graphemes |> Enum.sort |> Enum.join`, so I can confirm with that that it  is already fixed in master?

[2016-07-26 19:52] #352 closed

[2016-07-27 17:40] merqlove commented on #217
Also just extracted from this app PubSub wrapper.
https://github.com/merqlove/redix_pubsub_fastlane.
Root file has such aliases.

[2016-07-28 14:27] kostin-a commented on #302
Downgrade to 3.0.0 gives the same issue unfortunately:
During open any *.ex file I have the following error:
[code]

I have the following environment:
IDEA version: 15.0.1
JRE: 1.8.45, 64-bit,
Ubuntu 14.04

Could you please suggest solution?

[2016-07-28 14:48] KronicDeth commented on #302
@kostin-a this issue was closed by a PR (#323) was released (https://github.com/KronicDeth/intellij-elixir/commit/bd3c6541c0ef8bee46c5bc059f28a25aa3ceab50) in v4.0.0.  You should upgrade to V4.0.0 now.

[2016-07-28 15:03] KronicDeth opened #359 "Literal sigils should not escape newlines in Elixir 1.3+"
Port https://github.com/elixir-lang/elixir/pull/4341

[2016-07-28 15:09] kostin-a commented on #302
thank you, @KronicDeth !

Actually I started from v4.0.0 with the same error (then I followed instructions from this ticket):

# Version

4.0.0

# Exception

## Message

Error while indexing /home/andrey/Projects/elixir-test/r/erf.ex
To reindex this file IDEA has to be restarted: com.intellij.lang.parser.GeneratedParserUtilBase.nextTokenIsSmart(Lcom/intellij/lang/PsiBuilder;Lcom/intellij/psi/tree/

[2016-07-28 15:11] KronicDeth opened #360 "to_char_list renamed to to_charlist in Elixir 1.3"
Port https://github.com/elixir-lang/elixir/pull/4582

[2016-07-28 15:21] KronicDeth commented on #302
@kostin-a 4.0.0 has the improved build process, but I guess it's not enough in your specific case.  I'm not sure what is going on.  I build way back in 14.1 and then use it in 2016.1.  Maybe something is only weird in 15.0?  I do have 15.0 installed locally, so I guess I'll need to test more in 15.0.  Do you have a sample elixir project on github that I can use to trigger your exact bug?

[2016-07-28 15:51] kostin-a commented on #302
@KronicDeth , sure. Pushed the test one:

[https://github.com/kostin-a/elxr](https://github.com/kostin-a/elxr)

[2016-07-28 18:28] psfblair opened #361 "Unclosed strings cause editor hangs"
Occasionally I break a string across two lines and lose a closing quote, or paste a string into the editor where I haven't yet enclosed it in quotes. On a reasonably large project, this causes the IntelliJ to hang completely for tens of seconds, at least.

This is on version 4.0.0 on OS X.

[2016-07-29 04:49] KronicDeth commented on #361
I've also found hangs like that annoying and noticed that sometimes the rename refactoring is really slow with typing.  I assume there is some a quadratic algorithm somewhere in the code.  It could be in the lexer, parser, or any of the annotators.  Since most of that code is generated, I'm not sure where to start looking to fix the performance issues.  Also, I haven't done a lot of performance pr

[2016-07-30 21:27] cryo28 opened #362 "[auto-generated] Don't know how to check if parameter"
# Version

4.0.0

# Exception

## Message

Don't know how to check if parameter

### Excerpt

[code]
 Line(s) 13-13

## Stacktrace

[code]

[2016-08-04 14:34] fcruxen opened #363 "[auto-generated]"
# Version

4.0.0

# Exception

## Message

Argument for @NotNull parameter 'element' of org/elixir_lang/psi/scope/Variable.execute must not be null

## Stacktrace

[code]

[2016-08-04 20:47] #217 closed

[2016-08-04 21:23] KronicDeth commented on #355
Fixed by #365

[2016-08-04 21:23] #355 closed

[2016-08-05 21:03] KronicDeth commented on #362
I can't reproduce using 4.0.0 using the captured excerpt.  Could you post the full module or a longer excerpt?  You can also post it as a gist or a repo if its too long as a comment.

[2016-08-05 21:08] KronicDeth commented on #363
Duplicate of #326 fixed by #330.  Please try the [canary build](https://github.com/KronicDeth/intellij-elixir/releases/tag/4.1.0-dev%2B20160805133759), which includes the change.

[2016-08-05 21:08] #363 closed

[2016-08-06 16:45] KronicDeth commented on #350
Can you post the controller as a gist or does it contain too much proprietary information?  I have a feeling the failure is random because the indexer is failing in different spots for other files.

[2016-08-06 16:58] joshuataylor commented on #350
This happens when generating a basic html (or json) controller with gen, with phoenix.

[2016-08-06 17:12] KronicDeth commented on #350
The next time it happens, in addition to posting the error with the button, check if there are any files in the Attachment tab and post those too or in a gist.  That may help me isolate a reproduction case.

[2016-08-06 20:21] KronicDeth commented on #357
[This](https://intellij-support.jetbrains.com/hc/en-us/community/posts/206115129-Inserting-Closing-Quote-and-Bracket) is the best posting I found in the forums so far

[2016-08-07 04:02] jlerche commented on #357
[SimpleTokenSetQuoteHandler](https://github.com/JetBrains/intellij-community/blob/master/platform/lang-impl/src/com/intellij/codeInsight/editorActions/SimpleTokenSetQuoteHandler.java) and [PairedBraceMatcher](https://github.com/JetBrains/intellij-community/blob/master/platform/lang-api/src/com/intellij/lang/PairedBraceMatcher.java)

[2016-08-07 18:16] KronicDeth commented on #357
@jlerche I had found those through the linked post and have an implementation of `PairedBraceMatcher`, but I don't think an instance of `SimpleTokenSetQuoteHandler` will work because the quoting for heredocs and sigil don't use the same token for the start and end token.  The start token is a promoter and the end token is a terminator of the respective sigil.  It'll probably need to borrow from st

[2016-08-07 20:00] drathier commented on #362
I'm getting tons of these over 2016.2 and 2016.2.1 with v4.0.0 and v4.1.0. `Don't know how to check if parameter` and `Don't know how to check if variable`. Currently, the 10 different ones I have right now have the excerpt `[eid]`, probably a map/keyword access, since that's the only places that string is used in that file. Maybe they happen when I rename a variable without renaming all instances

[2016-08-07 20:08] KronicDeth commented on #362
@drathier I think the excerpt including the function the excerpt is in should be enough to reproduce the problem, so post that.

[2016-08-07 20:40] drathier commented on #362
I couldn't find the source for that last one now, but I just got two new variable ones.

Here's the do-block that the error occoured in:
[code]

And the stack traces:

Don't know how to check if variable

### Excerpt

[code]
 Line(s) 163-163

org.elixir_lang.errorreport.Logger.error(Logger.java:48)
org.elixir_lang.errorreport.Logger.error(Logger.java:31)
org.elixir_lang.reference.Callable.isVariab

[2016-08-08 00:04] mrkaspa opened #366 "Document how to configure projects in Small (non-IntelliJ IDEA) IDEs"
The import project doesn't work on Webstorm

[2016-08-08 20:45] KronicDeth commented on #366
This is to be expected.  JetBrains IDEs are broken into two categories:
* Rich
* Small

Rich is IntelliJ CE and Ultimate while Small is any of language-specific IDEs, which also include Webstorm. (I'm not really sure what Webstorm's language is, I guess JavaScript?).  The import project system only works in Rich IDEs because only the Rich IDEs can have multi-language projects and projects outside

[2016-08-10 07:40] swieckib opened #367 "Don't know how to check if parameter in `[id]`"
# Version

4.1.0

# Exception

## Message

Don't know how to check if parameter

### Excerpt

[code]
 Line(s) 199-199

## Stacktrace

[code]

[2016-08-10 10:58] drathier opened #368 "Allow folding of alias, use, require to be disabled in Editor > General > Code Folding"
I'm unable to disable folding for import and use statements. All of the options under Settings -> Editor -> General -> Code Folding are disabled, but still, this fold happens.

[code]
gets collapsed to
[code]
which really isn't helpful for me at all. Same thing with `import`, `alias` and `require`. Doesn't save space and forces me to click to see the text.

Please either add a configuration option

[2016-08-10 15:24] KronicDeth commented on #368
There is no setting in Editor > General > Code Folding.  I'd have to look how to add one to there to turn it off permanently.

You can manually expand auto-folded regions in numerous ways:
* Click on the folded text
* Cmd++ on the folded line
* Clicking the + Square next to the line.

To expand everything in an editor tab, you can use Code > Folding menu.  You can either do Code > Folding > Expand

[2016-08-10 16:34] KronicDeth commented on #367
@swieckib the excerpt picker didn't give enough context.  Can you look at the Attachments tab of the reporter and include at least the surrounding `def` body?